{yun:}include file="$tplstyle/newhead.htm"{/yun}
<div id="header" class="h70">
    <div class="header head0">
        <div class="logo"><b>药师多医药人才网</b><span style="font-size:20px; color:#666;">会员注册</span></div>
    </div>
</div>
<div id="main" class="reg">
    <div style="background:url({yun:}$config.sy_weburl{/yun}/resource/images/ysd_14.jpg) top center no-repeat; height:390px;"></div>
    <div class="main">
        <dl class="m_wrap">
            <dt><div class="r btn">已有账户？<a href="#"><img src="{yun:}$config.sy_weburl{/yun}/resource/images/ysd_15.jpg"></a></div><span>注册账号</span></dt>
            <dd>
                <div style="text-align:center; background:#f7f7f7; padding:17px 0;"><img src="{yun:}$config.sy_weburl{/yun}/resource/images/ysd_30.jpg"></div>
                <div class="box2">
                    <div class="p1"><i></i>恭喜您已注册成功</div>
                    <div class="p2">1秒后跳回资料填写页面</div>
                </div>
            </dd>
        </dl>
        <div><img src="{yun:}$config.sy_weburl{/yun}/resource/images/ysd_55.jpg"></div>
        <div style="height:80px;"></div>
    </div>
</div>
<script>var weburl="{yun:}$config.sy_weburl{/yun}";</script>
<script type="text/javascript">
    (function(){
      setTimeout("window.location.href=weburl",1000);
  })()
</script>
{yun:}include file="$tplstyle/newfoot.htm"{/yun}