<!DOCTYPE HTML>
<html>
<head>
    <meta charset="gbk" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <title>无标题文档</title>
    <link rel="stylesheet" type="text/css" href="{yun:}$config.sy_weburl{/yun}/resource/css/style.css" />
	<script type="text/javascript" src="{yun:}$config.sy_weburl{/yun}/resource/js/sea-debug.js"></script>
	<script type="text/javascript" src="{yun:}$config.sy_weburl{/yun}/resource/js/sea-config.js"></script>
	<script>var weburl="{yun:}$config.sy_weburl{/yun}";</script>
	<script src="{yun:}$config.sy_weburl{/yun}/resource/js/jquery-1.7.2.min.js"></script>
	<script src="{yun:}$config.sy_weburl{/yun}/resource/js/JQ_common.js"></script>
	<script src="{yun:}$config.sy_weburl{/yun}/resource/js/jquery.SuperSlide.2.1.js"></script>
	<script type="text/javascript" src="{yun:}$config.sy_weburl{/yun}/resource/js/main.js"></script>
	<script type="text/javascript">$(".slideTxtBox").slide();</script>


</head>
<body>