<!DOCTYPE HTML>
<html>
<head>
    <meta charset="gbk" />
    <meta name="keywords" content="{yun:}$keywords{/yun}" />
    <meta name="description" content="{yun:}$description{/yun}" />
    <title>{yun:}$title{/yun}</title>
    <link rel="stylesheet" type="text/css" href="{yun:}$config.sy_weburl{/yun}/resource/css/style.css" />
    <!--[if lte IE 6]><script src="{yun:}$config.sy_weburl{/yun}/resource/js/DD_belatedPNG_0.0.8a-min.js" type="text/javascript"></script><script type="text/javascript">	DD_belatedPNG.fix('*');</script><![endif]-->
    <!-- 加载jQuery1.7.2版本-->
    <script type="text/javascript" src="{yun:}$config.sy_weburl{/yun}/resource/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="{yun:}$config.sy_weburl{/yun}/resource/js/JQ_common.js"></script>
    <script type="text/javascript" src="{yun:}$config.sy_weburl{/yun}/resource/js/jquery.SuperSlide.2.1.js"></script>
    <script type="text/javascript" src="{yun:}$config.sy_weburl{/yun}/resource/js/js.js"></script>
</head>

<body>
<div id="header" style="background:url({yun:}$config.sy_weburl{/yun}/resource/images/ysd_63.jpg) repeat-x;">
    <div class="header head1">
        <dl class="h_top">
            <dt>
                <a href="{yun:}$config.sy_weburl{/yun}">
                    <img src="{yun:}$config.sy_weburl{/yun}/resource/images/ysd_64.jpg" class="logo">
                </a>
                <a href="{yun:}$config.sy_weburl{/yun}/job">
                    <img src="{yun:}$config.sy_weburl{/yun}/resource/images/ysd_65.jpg" class="h_btn">
                </a>
            </dt>
            <dd>
                <div style="height:33px;"></div>
                <form method="get" name="" action="{yun:}$config.sy_weburl{/yun}/job/" target="_blank">
                    <div id="searchTxt" class="searchTxt" onMouseOver="this.className='searchTxt searchTxtHover';"
                         onMouseOut="this.className='searchTxt';">
                        <div class="searchMenu">
                            <input type="hidden" value="search" name="c"/>
                            <input type="hidden" value="" name="provinceid" class="hid"/>

                            <div class="searchSelected" id="searchSelected">选择</div>
                            <div style="display:none;" class="searchTab" id="searchTab">
                                <div class="radius" style="top:259px;"></div>
                                <div class="radius" style="top:259px;left:59px;"></div>
                                <ul>
                                    {yun:}foreach item=v from=$city_index{/yun}
                                    <li i="{yun:}$v{/yun}">{yun:}$city_name[$v]{/yun}</li>
                                    {yun:}/foreach{/yun}
                                </ul>
                            </div>
                        </div>
                        <input name="keyword" type="text"/>
                    </div>
                    <div class="searchBtn">
                        <button id="searchBtn" type="submit" value=""></button>
                    </div>
                    <div class="clear"></div>
                    <div class="hot">热门搜索：
                        <a href="{yun:}$jobclassurl{/yun}keyword=会计">会计</a>
                        <a href="{yun:}$jobclassurl{/yun}keyword=司机">司机</a>
                        <a href="{yun:}$jobclassurl{/yun}keyword=销售">销售</a>
                        <a href="{yun:}$jobclassurl{/yun}keyword=猎头">猎头</a>
                        <a href="{yun:}$jobclassurl{/yun}keyword=文员">文员</a>
                        <a href="{yun:}$jobclassurl{/yun}keyword=java">java</a>
                        <a href="{yun:}$jobclassurl{/yun}keyword=日语">日语</a>
                        <a href="{yun:}$jobclassurl{/yun}keyword=兼职">兼职</a>
                        <a href="{yun:}$jobclassurl{/yun}keyword=采购">采购</a>
                    </div>
                </form>
            </dd>
        </dl>
        <ul class="nav l">
            <li><a href="#" class="hover">职位首页</a></li>
            <li><a href="#">找职位</a></li>
            <li><a href="#">找企业</a></li>
            <li><a href="#">企业分享</a></li>
            <li><a href="#">委托求职</a></li>
            <li><a href="#">我的简历</a></li>
        </ul>
        <div class="h_btn1 r">{yun:}if $cookie['username']{/yun}<a href="{yun:}$config.sy_weburl{/yun}/member">{yun:}$cookie['username']{/yun}</a>{yun:}else{/yun}
            <a href="{yun:}$config.sy_weburl{/yun}/?m=login">登录</a> / <a href="{yun:}$config.sy_weburl{/yun}/?m=register">注册</a>{yun:}/if{/yun}
        </div>
        <div class="clear"></div>
    </div>
</div>
<div id="main" class="zrczgz" style="background:#f7f7f7;">
    <div class="main">
        <div class="wz">您现在的位置： <a href="#">找职位</a> > <a href="#">网站应用开发工程师</a></div>
        <div class="m_b">
            <div class="w700 l">
                <div class="m_wrap6">
                    <div class="p1"><div class="r" style="padding-top:40px;"><a href="#"><img src="{yun:}$config.sy_weburl{/yun}/resource/images/ysd_116.jpg"></a><span class="collect"><em>收藏</em> <input
                            type="hidden"/></span></div><span class="c1">{yun:}$Info.jobname{/yun}</span><span class="c2">( 2名 )</span></div>
                    <div class="p2"><span class="c1">月薪：</span><span class="c2">{yun:}if $Info.job_salary{/yun}{yun:}$Info.job_salary{/yun}{yun:}/if{/yun}</span></div>
                    <div class="p3"> {yun:}if $Info.job_city_one||$Info.job_city_two||$Info.job_city_three{/yun}{yun:}$Info.job_city_one{/yun}-{yun:}$Info.job_city_two{/yun}{yun:}$Info.job_city_three{/yun}</span> {yun:}/if{/yun}  /  {yun:}$Info.job_type{/yun}  /  学历{yun:}$Info.job_edu{/yun}  /  经验{yun:}$Info.job_exp{/yun}      {yun:}$Info.lastupdate|date_format:"%Y-%m-%d"{/yun}  更新</div>
                    <a href="#" class="btn"><img src="{yun:}$config.sy_weburl{/yun}/resource/images/ysd_118.jpg"></a>
                </div>
                <dl class="m_wrap7">
                    <dt>职位描述</dt>
                    <dd>
                        <div class="con">
                            {yun:}$Info.description{/yun}
                        </div>
                    </dd>
                    <dt>联系方式</dt>
                    <dd>
                        <div class="con">
                            <p>公司地址：{yun:}$Info.address{/yun}</p>
                            <p>邮箱：{yun:}$Info.linktel{/yun}</p>
                            <p>电话：{yun:}$Info.linktel{/yun}</p>
                            <p>手机：{yun:}$Info.linkphone{/yun}</p>
                            <p>联系人：{yun:}$Info.linkman{/yun}</p>
                            <p>网址：www.baidu.com</p>
                        </div>
                    </dd>
                    <dt>相似职位</dt>
                    {yun:}joblist limit=4 order=rec  noid='@Info.id' jobids='@Info.job1' namelen=6  item=job_jia key=key{/yun}

                    <dd>
                        <div class="list">
                            <div class="p1"><span class="c2">{yun:}$job_jia.time{/yun}</span>{yun:}$job_jia.name{/yun}<span class="c1">[{yun:}$job_jia.job_city_two{/yun}]</span></div>
                            <div class="p2">{yun:}$job_jia.job_salary{/yun}<em>|</em>经验{yun:}$job_jia.job_exp{/yun}<em>|</em>学历{yun:}$job_jia.job_edu{/yun}</div>
                        </div>
                    </dd>
                    {yun:}/joblist{/yun}
                    {yun:}if !$job_jia{/yun}
                    <dd><div class="list">暂无相似职位</div></dd>
                    {yun:}/if{/yun}
                </dl>
            </div>
            <div class="w200 l">
                <div class="m_wrap8">
                    <!--图片未做大小限制-->
                    <div class="img"><img src="{yun:}if $Info.logo{/yun}{yun:}$config.sy_weburl{/yun}/{yun:}$Info.logo{/yun}{yun:}else{/yun}{yun:}$config.sy_weburl{/yun}/{yun:}$config.sy_unit_icon{/yun}{yun:}/if{/yun}"></div>
                    <!--<div class="p1">NicUp</div>-->
                    <div class="p2"><a href="{yun:}$Info.com_url{/yun}">{yun:}$Info.com_name|mb_substr:0:14:'gbk'{/yun}</a></div>
                    <div class="p3">企业官网：<a href="#">{yun:}$Info.website{/yun}</a></div>
                </div>
                <ul class="m_wrap9">
                    <li>行业属性：{yun:}$Info.job_hy{/yun}</li>
                    <li>企业规模：{yun:}$Info.job_mun{/yun}人</li>
                    <li>企业性质：{yun:}$Info.job_pr{/yun}</li>
                    <!--<li><img src="{yun:}$config.sy_weburl{/yun}/resource/images/ysd_121.jpg">-->
                        <!--<img src="{yun:}$config.sy_weburl{/yun}/resource/images/ysd_122.jpg">-->
                        <!--<img src="{yun:}$config.sy_weburl{/yun}/resource/images/ysd_123.jpg">-->
                        <!--<img src="{yun:}$config.sy_weburl{/yun}/resource/images/ysd_124.jpg">-->
                    <!--</li>-->
                </ul>
                <dl class="m_wrap10">
                    <dt>其他职位</dt>
                    <dd>
                        {yun:}joblist uid='@Info.uid' noid='@Info.id' namelen=9 limit=3 item=job{/yun}
                        <div class="list">
                            <div class="p1">{yun:}$job.name{/yun} <span>[{yun:}$job.job_city_one{/yun}{yun:}$job.job_city_two{/yun}]</span></div>
                            <div class="p2">{yun:}$job.job_salary{/yun} |{yun:}$job.job_exp{/yun}经验</div>
                        </div>
                        {yun:}/joblist{/yun}
                        <!--查看其它职位-->
                        <!--<div class="btn"><a href="#"><img src="{yun:}$config.sy_weburl{/yun}/resource/images/ysd_125.jpg"></a></div>-->
                        {yun:}if !$job{/yun}
                        <div class="Company_other_no_msg">暂无其他职位</div>
                        {yun:}/if{/yun}

                    </dd>
                </dl>
            </div>
            <div class="clear"></div>
        </div>
        <div style="height:105px;"></div>
    </div>
</div>
<div id="footer">
    <div class="footer">
        <ul class="f_box">
            <li>
                <div class="p1">全国统一服务热线：</div>
                <div class="p2">400-067-3800</div>
                <div class="p3">工作日：9：00 ~ 18：00</div>
            </li>
            <li style="margin-right:0;">
                <div class="p4"><a href="#">关于我们</a><a href="#">常见问题</a><a href="#">网站地图</a><a href="#">联系我们</a><a href="#">企业入驻</a><a href="#">意见反馈</a></div>
                <div class="p5">Copyright 2015 广州国健医药咨询服务有限公司<br>
                    版权所有   粤ICP备11016031号-4</div>
            </li>
            <li class="last">
                <div class="p6"><a href="#"><p>新浪微博</p><img src="{yun:}$config.sy_weburl{/yun}/resource/images/ysd_7.jpg"></a></div>
                <div class="p6"><a href="#"><p>微信</p><img src="{yun:}$config.sy_weburl{/yun}/resource/images/ysd_8.jpg"></a></div>
                <div class="clear"></div>
            </li>
            <div class="clear"></div>
        </ul>
    </div>
</div>
</body>
</html>
