<!DOCTYPE HTML>
<html>
<head>
    <meta charset="gbk"/>
    <meta name="keywords" content="{yun:}$keywords{/yun}"/>
    <meta name="description" content="{yun:}$description{/yun}"/>
    <title>{yun:}$title{/yun}</title>
    <link rel="stylesheet" type="text/css" href="{yun:}$config.sy_weburl{/yun}/resource/css/style.css"/>
    <!--[if lte IE 6]>
    <script src="{yun:}$config.sy_weburl{/yun}/resource/js/DD_belatedPNG_0.0.8a-min.js" type="text/javascript"></script>
    <script type="text/javascript">DD_belatedPNG.fix('*');</script><![endif]-->
    <!-- 加载jQuery1.7.2版本-->
    <script type="text/javascript" src="{yun:}$config.sy_weburl{/yun}/resource/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="{yun:}$config.sy_weburl{/yun}/resource/js/JQ_common.js"></script>
    <script type="text/javascript" src="{yun:}$config.sy_weburl{/yun}/resource/js/jquery.SuperSlide.2.1.js"></script>
</head>

<body>
<div id="header" style="background:url({yun:}$config.sy_weburl{/yun}/resource/images/ysd_63.jpg) repeat-x;">
    <div class="header head1">
        <dl class="h_top">
            <dt>
                <a href="{yun:}$config.sy_weburl{/yun}">
                    <img src="{yun:}$config.sy_weburl{/yun}/resource/images/ysd_64.jpg" class="logo">
                </a>
                <a href="{yun:}$config.sy_weburl{/yun}/job">
                    <img src="{yun:}$config.sy_weburl{/yun}/resource/images/ysd_65.jpg" class="h_btn">
                </a>
            </dt>
            <dd>
                <div style="height:33px;"></div>
                <form method="get" name="" action="{yun:}$config.sy_weburl{/yun}/job/" target="_blank">
                    <div id="searchTxt" class="searchTxt" onMouseOver="this.className='searchTxt searchTxtHover';"
                         onMouseOut="this.className='searchTxt';">
                        <div class="searchMenu">
                            <input type="hidden" value="search" name="c"/>
                            <input type="hidden" value="" name="provinceid" class="hid"/>

                            <div class="searchSelected" id="searchSelected">选择</div>
                            <div style="display:none;" class="searchTab" id="searchTab">
                                <div class="radius" style="top:259px;"></div>
                                <div class="radius" style="top:259px;left:59px;"></div>
                                <ul>
                                    {yun:}foreach item=v from=$city_index{/yun}
                                    <li i="{yun:}$v{/yun}">{yun:}$city_name[$v]{/yun}</li>
                                    {yun:}/foreach{/yun}
                                </ul>
                            </div>
                        </div>
                        <input name="keyword" type="text"/>
                    </div>
                    <div class="searchBtn">
                        <button id="searchBtn" type="submit" value=""></button>
                    </div>
                    <div class="clear"></div>
                    <div class="hot">热门搜索：
                        <a href="{yun:}$jobclassurl{/yun}keyword=会计">会计</a>
                        <a href="{yun:}$jobclassurl{/yun}keyword=司机">司机</a>
                        <a href="{yun:}$jobclassurl{/yun}keyword=销售">销售</a>
                        <a href="{yun:}$jobclassurl{/yun}keyword=猎头">猎头</a>
                        <a href="{yun:}$jobclassurl{/yun}keyword=文员">文员</a>
                        <a href="{yun:}$jobclassurl{/yun}keyword=java">java</a>
                        <a href="{yun:}$jobclassurl{/yun}keyword=日语">日语</a>
                        <a href="{yun:}$jobclassurl{/yun}keyword=兼职">兼职</a>
                        <a href="{yun:}$jobclassurl{/yun}keyword=采购">采购</a>
                    </div>
                </form>
            </dd>
        </dl>
        <ul class="nav l">
            {yun:}nav item=navlist hovclass=nav_list_hover nid=1{/yun}
            <li>
                <a class="{yun:}if $navlist.navclass{/yun}hover{yun:}/if{/yun}"
                   href="{yun:}$navlist.url{/yun}" {yun:}if $navlist.eject {/yun} target="_blank"{yun:}/if{/yun}
                class="png"> {yun:}$navlist.name{/yun}</a>
                <div class="nav_icon"> {yun:}if $navlist.model=="new"{/yun} <img
                        src="{yun:}$style{/yun}/images/new.gif"> {yun:}elseif $navlist.model=="hot"{/yun} <img
                        src="{yun:}$style{/yun}/images/hotn.gif"> {yun:}/if{/yun}
                </div>
            </li>
            {yun:}/nav{/yun}
        </ul>
        <div class="h_btn1 r">{yun:}if $cookie['username']{/yun}<a href="{yun:}$config.sy_weburl{/yun}/member">{yun:}$cookie['username']{/yun}</a>{yun:}else{/yun}
            <a href="{yun:}$config.sy_weburl{/yun}/?m=login">登录</a> / <a href="{yun:}$config.sy_weburl{/yun}/?m=register">注册</a>{yun:}/if{/yun}
        </div>
        <div class="h_btn2 r"><a href="{yun:}$config.sy_weburl{/yun}/member/index.php?c=jobadd">发布职位</a></div>
        <div class="clear"></div>
    </div>
</div>
<div id="main" class="zrczgz" style="background:#f7f7f7;">
    <div class="main">
        <div class="blank3"></div>
        <div class="l w235">
            <div class="m_nav">
                <dl>
                    <dt><i class="ico1"></i>工作性质</dt>
                    <dd><a href="#">全职</a><a href="#">兼职</a></dd>
                    <dd class="popup">
                        <div class="sub">
                            <div class="l w15"><span>视觉设计</span></div>
                            <div class="l w85"><a href="#">网页设计师</a><em>|</em><a href="#">Flash设计师</a><em>|</em><a
                                    href="#">APP设计师</a><em>|</em><a href="#">UI设计师</a><em>|</em><a href="#">平面设计师
                                美术设计师（2D/3D）</a><em>|</em><a href="#">广告设计师</a><em>|</em><a
                                    href="#">多媒体设计师</a><em>|</em><a href="#">原画师游戏特效</a><em>|</em><a
                                    href="#">游戏界面设计师</a><em>|</em><a href="#">视觉设计师</a><em>|</em><a
                                    href="#">游戏场景</a><em>|</em><a href="#">游戏角色 游戏动作</a></div>
                            <div class="clear"></div>
                        </div>
                        <div class="sub">
                            <div class="l w15"><span>视觉设计</span></div>
                            <div class="l w85"><a href="#">网页设计师</a><em>|</em><a href="#">Flash设计师</a><em>|</em><a
                                    href="#">APP设计师</a><em>|</em><a href="#">UI设计师</a><em>|</em><a href="#">平面设计师
                                美术设计师（2D/3D）</a><em>|</em><a href="#">广告设计师</a><em>|</em><a
                                    href="#">多媒体设计师</a><em>|</em><a href="#">原画师游戏特效</a><em>|</em><a
                                    href="#">游戏界面设计师</a><em>|</em><a href="#">视觉设计师</a><em>|</em><a
                                    href="#">游戏场景</a><em>|</em><a href="#">游戏角色 游戏动作</a></div>
                            <div class="clear"></div>
                        </div>
                    </dd>
                </dl>
                <dl>
                    <dt><i class="ico2"></i>最高学历</dt>
                    <dd><a href="#">硕士</a><a href="#">本科</a><a href="#">大专</a><a href="#">中专</a></dd>
                    <dd class="popup">
                        <div class="sub">
                            <div class="l w15"><span>视觉设计</span></div>
                            <div class="l w85"><a href="#">网页设计师</a><em>|</em><a href="#">Flash设计师</a><em>|</em><a
                                    href="#">APP设计师</a><em>|</em><a href="#">UI设计师</a><em>|</em><a href="#">平面设计师
                                美术设计师（2D/3D）</a><em>|</em><a href="#">广告设计师</a><em>|</em><a
                                    href="#">多媒体设计师</a><em>|</em><a href="#">原画师游戏特效</a><em>|</em><a
                                    href="#">游戏界面设计师</a><em>|</em><a href="#">视觉设计师</a><em>|</em><a
                                    href="#">游戏场景</a><em>|</em><a href="#">游戏角色 游戏动作</a></div>
                            <div class="clear"></div>
                        </div>
                        <div class="sub">
                            <div class="l w15"><span>视觉设计</span></div>
                            <div class="l w85"><a href="#">网页设计师</a><em>|</em><a href="#">Flash设计师</a><em>|</em><a
                                    href="#">APP设计师</a><em>|</em><a href="#">UI设计师</a><em>|</em><a href="#">平面设计师
                                美术设计师（2D/3D）</a><em>|</em><a href="#">广告设计师</a><em>|</em><a
                                    href="#">多媒体设计师</a><em>|</em><a href="#">原画师游戏特效</a><em>|</em><a
                                    href="#">游戏界面设计师</a><em>|</em><a href="#">视觉设计师</a><em>|</em><a
                                    href="#">游戏场景</a><em>|</em><a href="#">游戏角色 游戏动作</a></div>
                            <div class="clear"></div>
                        </div>
                    </dd>
                </dl>
                <dl>
                    <dt><i class="ico3"></i>专业</dt>
                    <dd>
                        <a href="#">药物制剂</a><a href="#">药学</a><a href="#">中药学</a><a href="#">临床医学</a><a
                            href="#">制药工程</a><a href="#">药学药学</a><a href="#">中药学</a><a href="#">药物制剂</a>
                    </dd>
                    <dd class="popup">
                        <div class="sub">
                            <div class="l w15"><span>视觉设计</span></div>
                            <div class="l w85"><a href="#">网页设计师</a><em>|</em><a href="#">Flash设计师</a><em>|</em><a
                                    href="#">APP设计师</a><em>|</em><a href="#">UI设计师</a><em>|</em><a href="#">平面设计师
                                美术设计师（2D/3D）</a><em>|</em><a href="#">广告设计师</a><em>|</em><a
                                    href="#">多媒体设计师</a><em>|</em><a href="#">原画师游戏特效</a><em>|</em><a
                                    href="#">游戏界面设计师</a><em>|</em><a href="#">视觉设计师</a><em>|</em><a
                                    href="#">游戏场景</a><em>|</em><a href="#">游戏角色 游戏动作</a></div>
                            <div class="clear"></div>
                        </div>
                        <div class="sub">
                            <div class="l w15"><span>视觉设计</span></div>
                            <div class="l w85"><a href="#">网页设计师</a><em>|</em><a href="#">Flash设计师</a><em>|</em><a
                                    href="#">APP设计师</a><em>|</em><a href="#">UI设计师</a><em>|</em><a href="#">平面设计师
                                美术设计师（2D/3D）</a><em>|</em><a href="#">广告设计师</a><em>|</em><a
                                    href="#">多媒体设计师</a><em>|</em><a href="#">原画师游戏特效</a><em>|</em><a
                                    href="#">游戏界面设计师</a><em>|</em><a href="#">视觉设计师</a><em>|</em><a
                                    href="#">游戏场景</a><em>|</em><a href="#">游戏角色 游戏动作</a></div>
                            <div class="clear"></div>
                        </div>
                    </dd>
                </dl>
                <dl>
                    <dt><i class="ico4"></i>毕业院校</dt>
                    <dd><a href="#">中国药科大学</a><a href="#">沈阳药科大学</a></dd>
                    <dd class="popup">
                        <div class="sub">
                            <div class="l w15"><span>视觉设计</span></div>
                            <div class="l w85"><a href="#">网页设计师</a><em>|</em><a href="#">Flash设计师</a><em>|</em><a
                                    href="#">APP设计师</a><em>|</em><a href="#">UI设计师</a><em>|</em><a href="#">平面设计师
                                美术设计师（2D/3D）</a><em>|</em><a href="#">广告设计师</a><em>|</em><a
                                    href="#">多媒体设计师</a><em>|</em><a href="#">原画师游戏特效</a><em>|</em><a
                                    href="#">游戏界面设计师</a><em>|</em><a href="#">视觉设计师</a><em>|</em><a
                                    href="#">游戏场景</a><em>|</em><a href="#">游戏角色 游戏动作</a></div>
                            <div class="clear"></div>
                        </div>
                        <div class="sub">
                            <div class="l w15"><span>视觉设计</span></div>
                            <div class="l w85"><a href="#">网页设计师</a><em>|</em><a href="#">Flash设计师</a><em>|</em><a
                                    href="#">APP设计师</a><em>|</em><a href="#">UI设计师</a><em>|</em><a href="#">平面设计师
                                美术设计师（2D/3D）</a><em>|</em><a href="#">广告设计师</a><em>|</em><a
                                    href="#">多媒体设计师</a><em>|</em><a href="#">原画师游戏特效</a><em>|</em><a
                                    href="#">游戏界面设计师</a><em>|</em><a href="#">视觉设计师</a><em>|</em><a
                                    href="#">游戏场景</a><em>|</em><a href="#">游戏角色 游戏动作</a></div>
                            <div class="clear"></div>
                        </div>
                    </dd>
                </dl>
                <dl>
                    <dt><i class="ico5"></i>工作年限</dt>
                    <dd>
                        <a href="#">在校生</a><a href="#">应届毕业生</a><a href="#">在校生</a><a href="#">应届毕业生</a>
                    </dd>
                    <dd class="popup">
                        <div class="sub">
                            <div class="l w15"><span>视觉设计</span></div>
                            <div class="l w85"><a href="#">网页设计师</a><em>|</em><a href="#">Flash设计师</a><em>|</em><a
                                    href="#">APP设计师</a><em>|</em><a href="#">UI设计师</a><em>|</em><a href="#">平面设计师
                                美术设计师（2D/3D）</a><em>|</em><a href="#">广告设计师</a><em>|</em><a
                                    href="#">多媒体设计师</a><em>|</em><a href="#">原画师游戏特效</a><em>|</em><a
                                    href="#">游戏界面设计师</a><em>|</em><a href="#">视觉设计师</a><em>|</em><a
                                    href="#">游戏场景</a><em>|</em><a href="#">游戏角色 游戏动作</a></div>
                            <div class="clear"></div>
                        </div>
                        <div class="sub">
                            <div class="l w15"><span>视觉设计</span></div>
                            <div class="l w85"><a href="#">网页设计师</a><em>|</em><a href="#">Flash设计师</a><em>|</em><a
                                    href="#">APP设计师</a><em>|</em><a href="#">UI设计师</a><em>|</em><a href="#">平面设计师
                                美术设计师（2D/3D）</a><em>|</em><a href="#">广告设计师</a><em>|</em><a
                                    href="#">多媒体设计师</a><em>|</em><a href="#">原画师游戏特效</a><em>|</em><a
                                    href="#">游戏界面设计师</a><em>|</em><a href="#">视觉设计师</a><em>|</em><a
                                    href="#">游戏场景</a><em>|</em><a href="#">游戏角色 游戏动作</a></div>
                            <div class="clear"></div>
                        </div>
                    </dd>
                </dl>
                <dl>
                    <dt><i class="ico6"></i>工作经历</dt>
                    <dd>
                        <a href="#">研发总监</a><a href="#">质量负责人</a><a href="#">注册专员</a><a href="#">质管部经理</a><a href="#">产品经理</a><a
                            href="#">销售总监</a>
                    </dd>
                </dl>
                <dl>
                    <dt><i class="ico7"></i>职称/执业资格</dt>
                    <dd>
                        <a href="#">执业中药师</a><a href="#">执业西药师</a>
                    </dd>
                </dl>
                <dl>
                    <dt><i class="ico8"></i>项目经验</dt>
                    <dd>
                        <a href="#">GMP认证</a><a href="#">GSP认证</a><a href="#">药品注册</a><a href="#">GMP认证</a><a href="#">GSP认证</a><a
                            href="#">药品注册</a><a href="#">GMP认证</a>
                    </dd>
                </dl>
                <dl>
                    <dt><i class="ico9"></i>意向工作地</dt>
                    <dd>
                        <a href="#">广州</a><a href="#">北京</a><a href="#">上海</a><a href="#">深圳</a>
                    </dd>
                </dl>
                <dl>
                    <dt><i class="ico10"></i>目前工作状态</dt>
                    <dd>
                        <a href="#">计划离职</a><a href="#">已离职</a>
                    </dd>
                </dl>
            </div>
            <div class="blank2"></div>
            <div class="m_btn"><a href="#"><i></i>订阅职位</a></div>
        </div>
        <div class="r w745">
            <div id="slideBox" class="slideBox">
                <div class="bd">
                    <ul>
                        <li><a href="#"><img src="{yun:}$config.sy_weburl{/yun}/resource/images/ysd_92.jpg"/></a></li>
                        <li><a href="#"><img src="{yun:}$config.sy_weburl{/yun}/resource/images/ysd_92.jpg"/></a></li>
                        <li><a href="#"><img src="{yun:}$config.sy_weburl{/yun}/resource/images/ysd_92.jpg"/></a></li>
                    </ul>
                </div>
                <div class="hd">
                    <ul>
                        <li><img src="{yun:}$config.sy_weburl{/yun}/resource/images/ysd_93.jpg"/><i></i></li>
                        <li><img src="{yun:}$config.sy_weburl{/yun}/resource/images/ysd_93.jpg"/><i></i></li>
                        <li><img src="{yun:}$config.sy_weburl{/yun}/resource/images/ysd_93.jpg"/><i></i></li>
                    </ul>
                </div>
                <div class="clear"></div>
            </div>
            <script type="text/javascript">
                $(".slideBox").slide({mainCell: ".bd ul", autoPlay: true, effect: "fold"});
            </script>
            <dl class="m_wrap1">
                <dt>
                <div class="txt">这里有你最适合的工作!</div>
                <a href="javascript:void(0)" class="hover">最新职位</a><a href="javascript:void(0)">热门推荐</a>
                </dt>
                <dd>
                    <div class="none" style="display:block;">
                        <div class="list1">
                            <div class="con">
                                <div class="p1">网站应用开发工程师<span>成都<em>|</em>全职</span></div>
                                <div class="p2">经验：<span class="c1">3-5年</span></div>
                                <div class="p2">最低学历：<span class="c1">本科</span></div>
                                <div class="p2">月薪：<span class="c2">7k-14k</span></div>
                                <div class="p3">14:24发布</div>
                            </div>
                            <div class="con">
                                <div class="p1">成都西可</div>
                                <div class="p4">民营企业 / 150-500人</div>
                                <div class="p5">
                                    <img src="{yun:}$config.sy_weburl{/yun}/resource/images/ysd_121.jpg"><img
                                        src="{yun:}$config.sy_weburl{/yun}/resource/images/ysd_122.jpg"><img
                                        src="{yun:}$config.sy_weburl{/yun}/resource/images/ysd_123.jpg"><img
                                        src="{yun:}$config.sy_weburl{/yun}/resource/images/ysd_124.jpg">
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="list1">
                            <div class="con">
                                <div class="p1">网站应用开发工程师<span>成都<em>|</em>全职</span></div>
                                <div class="p2">经验：<span class="c1">3-5年</span></div>
                                <div class="p2">最低学历：<span class="c1">本科</span></div>
                                <div class="p2">月薪：<span class="c2">7k-14k</span></div>
                                <div class="p3">14:24发布</div>
                            </div>
                            <div class="con">
                                <div class="p1">成都西可</div>
                                <div class="p4">民营企业 / 150-500人</div>
                                <div class="p5">
                                    <img src="{yun:}$config.sy_weburl{/yun}/resource/images/ysd_121.jpg"><img
                                        src="{yun:}$config.sy_weburl{/yun}/resource/images/ysd_122.jpg"><img
                                        src="{yun:}$config.sy_weburl{/yun}/resource/images/ysd_123.jpg"><img
                                        src="{yun:}$config.sy_weburl{/yun}/resource/images/ysd_124.jpg">
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="list1">
                            <div class="con">
                                <div class="p1">网站应用开发工程师<span>成都<em>|</em>全职</span></div>
                                <div class="p2">经验：<span class="c1">3-5年</span></div>
                                <div class="p2">最低学历：<span class="c1">本科</span></div>
                                <div class="p2">月薪：<span class="c2">7k-14k</span></div>
                                <div class="p3">14:24发布</div>
                            </div>
                            <div class="con">
                                <div class="p1">成都西可</div>
                                <div class="p4">民营企业 / 150-500人</div>
                                <div class="p5">
                                    <img src="{yun:}$config.sy_weburl{/yun}/resource/images/ysd_121.jpg"><img
                                        src="{yun:}$config.sy_weburl{/yun}/resource/images/ysd_122.jpg"><img
                                        src="{yun:}$config.sy_weburl{/yun}/resource/images/ysd_123.jpg"><img
                                        src="{yun:}$config.sy_weburl{/yun}/resource/images/ysd_124.jpg">
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="list1">
                            <div class="con">
                                <div class="p1">网站应用开发工程师<span>成都<em>|</em>全职</span></div>
                                <div class="p2">经验：<span class="c1">3-5年</span></div>
                                <div class="p2">最低学历：<span class="c1">本科</span></div>
                                <div class="p2">月薪：<span class="c2">7k-14k</span></div>
                                <div class="p3">14:24发布</div>
                            </div>
                            <div class="con">
                                <div class="p1">成都西可</div>
                                <div class="p4">民营企业 / 150-500人</div>
                                <div class="p5">
                                    <img src="{yun:}$config.sy_weburl{/yun}/resource/images/ysd_121.jpg"><img
                                        src="{yun:}$config.sy_weburl{/yun}/resource/images/ysd_122.jpg"><img
                                        src="{yun:}$config.sy_weburl{/yun}/resource/images/ysd_123.jpg"><img
                                        src="{yun:}$config.sy_weburl{/yun}/resource/images/ysd_124.jpg">
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="page2">
                            <a href="#"> << </a>
                            <a href="#" class="hover">1</a>
                            <a href="#">2</a>
                            <a href="#">3</a>
                            <a href="#">4</a>
                            <a href="#">5</a>
                            <a href="#"> >> </a>
                        </div>
                    </div>
                    <div class="none">2</div>
                </dd>
            </dl>
            <dl class="m_link">
                <dt>友情链接</dt>
                <dd>
                    <a href="#">hao123网址导航</a><a href="#">360网址导航</a><a href="#">2345网址导航</a><a href="#">互联网招聘</a><a
                        href="#">电子商务人才</a><a href="#">广州招聘</a><a href="#">1616上网导航</a><a href="#">中国土木英才网</a><a
                        href="#">厦门B2C协会</a><a href="#">电信上网导航</a><a href="#">宾果求职网</a><a href="#">114网址大全</a><a
                        href="#">淘网址</a><a href="#">726网址导航 </a>
                </dd>
            </dl>
        </div>
        <div class="clear"></div>
    </div>
</div>
<div id="footer">
    <div class="footer">
        <ul class="f_box">
            <li>
                <div class="p1">全国统一服务热线：</div>
                <div class="p2">400-067-3800</div>
                <div class="p3">工作日：9：00 ~ 18：00</div>
            </li>
            <li style="margin-right:0;">
                <div class="p4"><a href="#">关于我们</a><a href="#">常见问题</a><a href="#">网站地图</a><a href="#">联系我们</a><a
                        href="#">企业入驻</a><a href="#">意见反馈</a></div>
                <div class="p5">Copyright 2015 广州国健医药咨询服务有限公司<br>
                    版权所有 粤ICP备11016031号-4
                </div>
            </li>
            <li class="last">
                <div class="p6"><a href="#"><p>新浪微博</p><img
                        src="{yun:}$config.sy_weburl{/yun}/resource/images/ysd_7.jpg"></a></div>
                <div class="p6"><a href="#"><p>微信</p><img src="{yun:}$config.sy_weburl{/yun}/resource/images/ysd_8.jpg"></a>
                </div>
                <div class="clear"></div>
            </li>
            <div class="clear"></div>
        </ul>
    </div>
</div>
</body>
</html>
