{yun:}include file="./newheader.htm"{/yun}
<script src="{yun:}$config.sy_weburl{/yun}/js/binding.js"></script>
<style>
    * {
        margin: 0;
        padding: 0;
    }

    body, div {
        margin: 0;
        padding: 0;
    }
</style>
<div class="zhsz w1000">
    <div class="l left">
        <div class="j_tab">
            <ul class="hd">
                <li class="on">
                    <a href="#">
                        <div class="tb">
                            <img class="img1" src="{yun:}$config.sy_weburl{/yun}/resource/images/pic97.png" />
                            <img class="img2" src="{yun:}$config.sy_weburl{/yun}/resource/images/pic97_2.png" />
                        </div>
                        <p>账号绑定</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="tb">
                            <img class="img1" src="{yun:}$config.sy_weburl{/yun}/resource/images/pic98.png" />
                            <img class="img2" src="{yun:}$config.sy_weburl{/yun}/resource/images/pic98_2.png" />
                        </div>
                        <p>修改密码</p>
                    </a>
                </li>
                <li>
                    <a href="{yun:}$config.sy_weburl{/yun}/member/index.php?c=privacy">
                        <div class="tb">
                            <img class="img1" src="{yun:}$config.sy_weburl{/yun}/resource/images/pic99.png" />
                            <img class="img2" src="{yun:}$config.sy_weburl{/yun}/resource/images/pic99_2.png" />
                        </div>
                        <p>简历公开设置</p>
                    </a>
                </li>
                <div class="clear"></div>
            </ul>
            <div class="huan">
                <div class="box1">


                    {yun:}if $resume.moblie_status==1{/yun}
                    <div class="list">
                        <span class="l s1">已绑定手机号：<em>{yun:}$resume.telphone{/yun}</em></span>
                        <span class="l s2"><a href="javascript:void(0)" onclick="layer_del('确定要取消绑定？','index.php?c=binding&act=del&type=moblie');">解绑</a></span>
                        <div class="clear"></div>
                    </div>
                    {yun:}else{/yun}
                    <div class="list">
                        <span class="l s1">手机号：<em>14645569854</em></span>
                        <span class="l s2"><a href="javascript:getshow('moblie','绑定手机号码');">绑定手机号</a></span>
                        <div class="clear"></div>
                    </div>
                    {yun:}/if{/yun}
                    {yun:}if $resume.email_status==1{/yun}
                    <div class="list">
                        <span class="l s1">当前邮箱已验证：</span>
                        <span class="l s2"><a href="javascript:void(0)" onclick="layer_del('确定要取消绑定？','index.php?c=binding&act=del&type=email');">解除绑定</a></span>
                        <div class="clear"></div>
                    </div>
                    {yun:}else{/yun}
                    <div class="list">
                        <span class="l s1">邮   箱：<em>{yun:}$resume.email{/yun}</em></span>
                        <span class="l s2"><a href="javascript:getshow('email','绑定邮箱');">绑定邮箱</a></span>
                        <div class="clear"></div>
                    </div>
                    {yun:}/if{/yun}


                    <p>绑定后，你可以同时使用以下方式登录药师多</p>
                </div>
                <div class="box2">
                    {yun:}if $member.qqid!=""{/yun}
                    <p class="p1">已绑定QQ账号<em>$member.qqid</em><a href="javascript:void(0)" onclick="layer_del('确定要取消绑定？','index.php?c=binding&act=del&type=qqid');">解除绑定</a></p>
                    {yun:}else{/yun}
                    {yun:}if $config.sy_qqlogin!='1'{/yun}
                    <p class="p1"><a href="javascript:void(0)" onclick="layer.msg('对不起，QQ绑定已关闭！');return false;">绑定QQ帐号</a></p>
                    {yun:}else{/yun}
                    <p class="p1"><a href="{yun:}url m=qqconnect c=qqlogin login=1{/yun}">绑定QQ帐号</a></p>
                    {yun:}/if{/yun}
                    {yun:}/if{/yun}


                    {yun:}if $member.sinaid!=""{/yun}
                    <p class="p2">已绑定新浪微博帐号<a href="javascript:void(0)" onclick="layer_del('确定要取消绑定？','index.php?c=binding&act=del&type=sinaid');">解除绑定</a></p>

                    {yun:}else{/yun}
                    {yun:}if $config.sy_sinalogin!='1'{/yun}
                    <p class="p2"><a href="javascript:void(0)" onclick="layer.msg('对不起，新浪绑定已关闭！');return false;">绑定新浪微博帐号</a></p>
                    {yun:}else{/yun}
                    <p class="p2"><a href="{yun:}url m=sinaconnect login=1{/yun}">绑定新浪微博帐号</a></p>
                    {yun:}/if{/yun}
                    {yun:}/if{/yun}

                    <!--<p class="p2"><a href="#">绑定新浪微博帐号</a></p>-->
                    <p class="p3"><a href="#">绑定微信帐号</a></p>
                </div>
            </div>
        </div>
    </div>
    <!--绑定邮箱弹出框-->
    <div id="email" style="display:none;">
        <div class="Binding_pop_box" style="padding:10px;width:480px;height:200px; background:#fff">
            <div class="Binding_pop_box_msg">修改后的邮箱将作为新的登录账号</div>
            <div>
                <div class="Binding_pop_box_list">
                    <span class="Binding_pop_box_list_left"><i class="Binding_pop_box_list_left_i">*</i>新的邮箱：</span>
                    <input type="text" name="email" class="Binding_pop_box_list_text Binding_pop_box_list_textw200">
                </div>
                <div class="Binding_pop_box_list">
                    <span class="Binding_pop_box_list_left"><i class="Binding_pop_box_list_left_i">*</i>验证码：</span>
                    <input type="text" name="email_code" class="Binding_pop_box_list_text">
                    <img id="vcode_img" src="{yun:}$config.sy_weburl{/yun}/app/include/authcode.inc.php" style=" margin:0 5px 5px 5px; vertical-align:middle;">
                    <a href="javascript:check_code();">看不清</a>
                </div>
                <div class="Binding_pop_sub" style="margin-top:10px;">
                    <span class="Binding_pop_box_list_left">&nbsp;</span>
                    <input class=" com_pop_bth" type="button" onclick="check_email();" value="发送验证邮箱">
                    <input class=" com_pop_bth_qx" type="button" value="取消" onclick="layer.closeAll();">
                </div>
            </div>
        </div>
    </div>
    <!--弹出框 end-->
    <!--绑定手机弹出框-->
    <div id="moblie" style=" display:none;">
        <div class="Binding_pop_box" style="padding:10px;width:480px;height:200px; background:#fff;">
            <div class="Binding_pop_box_msg">绑定完成后，您可以使用该手机号码登录账号、找回密码</div>
            <div>
                <div class="Binding_pop_box_list">
                    <span class="Binding_pop_box_list_left"><i class="Binding_pop_box_list_left_i">*</i>手机号码：</span>
                    <input type="text" name="moblie" class="Binding_pop_box_list_text Binding_pop_box_list_textw200">
                </div>
                <div class="Binding_pop_box_list">
                    <span class="Binding_pop_box_list_left"><i class="Binding_pop_box_list_left_i">*</i>短信验证码：</span>
                    <input type="text" id="moblie_code" class="Binding_pop_box_list_text" style="width:90px;">
                    <a href="javascript:;" onclick="sendmoblie();" class="Binding_pop_bth" id="time">免费发送验证码</a>
                </div>
                <div class="Binding_pop_sub" style="margin-top:10px;">
                    <span class="Binding_pop_box_list_left">&nbsp;</span>
                    <input class="com_pop_bth_qd" onclick="check_moblie();" type="button" value="保存">
                    <input class="com_pop_bth_qx" type="button" value="取消" onclick="layer.closeAll();">
                </div>
            </div>
        </div>
    </div>
    <!--弹出框 end-->
    <input type="hidden" id="moblieval" value="{yun:}$resume.telphone{/yun}" />
    <input type="hidden" id="emailval" value="{yun:}$resume.email{/yun}" />
    <input type="hidden" id="send" value="0" />
    {yun:}include file ="./newright.htm" {/yun}
</body>
</html>
