{yun:}include file = "./newheader.htm"{/yun}
<script>
    $(window).load(function(){
        $("#sticker").sticky({ topSpacing: 0, center:true, className:"hey" });
    });
</script>
<script>
    KindEditor.ready(function(K) {
        var editor = K.editor({
            allowFileManager : true
        });
        K('#EditIcon').click(function() {
            editor.loadPlugin('image', function() {
                editor.plugin.imageDialog({
                    imageUrl : K('#url').val(),
                    clickFn : function(url, title, width, height, border, align) {
                        K('#url').val(url);
                        editor.hideDialog();
                    }
                });
            });
        });
    });
</script>
<script src="{yun:}$config.sy_weburl{/yun}/resource/data/plus/job.cache.js" type="text/javascript"></script>
<link rel="stylesheet" href="{yun:}$style{/yun}/resource/style/class.public.css" type="text/css">
<script src="{yun:}$config.sy_weburl{/yun}/resource/js/class.public.js" type="text/javascript"></script>

<div class="Resume jlgl w1000">
    <div class="l left">
        <div class="con">
            <div class="tit">基本资料</div>
            <p class="p1"><span class="EditBtn">编辑</span></p>
            <div class="l box1 zb EditBox dn">
                <div class="list">
                    <input type="text" class="l text" value="{yun:}$resume.name{/yun}" placeholder="姓名" />
                    <dl class="select r">
                        <dt>互诺科技互诺科技互诺科技互诺科技</dt>
                        <dd>
                            <ul>
                                <li myselect="1">互诺科技1</li>
                                <li myselect="2">互诺科技2</li>
                                <li myselect="3">互诺科技3</li>
                            </ul>
                            <input type="hidden" class="select_hidden"/>
                        </dd>
                    </dl>
                    <div class="clear"></div>
                </div>
                <div class="list">
                    <dl class="select l">
                        <dt>互诺科技互诺科技互诺科技互诺科技</dt>
                        <dd>
                            <ul>
                                <li myselect="1">互诺科技1</li>
                                <li myselect="2">互诺科技2</li>
                                <li myselect="3">互诺科技3</li>
                            </ul>
                            <input type="hidden" class="select_hidden"/>
                        </dd>
                    </dl>
                    <dl class="r select">
                        <dt>互诺科技互诺科技互诺科技互诺科技</dt>
                        <dd>
                            <ul>
                                <li myselect="1">互诺科技1</li>
                                <li myselect="2">互诺科技2</li>
                                <li myselect="3">互诺科技3</li>
                            </ul>
                            <input type="hidden" class="select_hidden"/>
                        </dd>
                    </dl>
                    <div class="clear"></div>
                </div>
                <div class="list">
                    <dl class="l select">
                        <dt>互诺科技互诺科技互诺科技互诺科技</dt>
                        <dd>
                            <ul>
                                <li myselect="1">互诺科技1</li>
                                <li myselect="2">互诺科技2</li>
                                <li myselect="3">互诺科技3</li>
                            </ul>
                            <input type="hidden" class="select_hidden"/>
                        </dd>
                    </dl>
                    <dl class="select r">
                        <dt>互诺科技互诺科技互诺科技互诺科技</dt>
                        <dd>
                            <ul>
                                <li myselect="1">互诺科技1</li>
                                <li myselect="2">互诺科技2</li>
                                <li myselect="3">互诺科技3</li>
                            </ul>
                            <input type="hidden" class="select_hidden"/>
                        </dd>
                    </dl>
                    <div class="clear"></div>
                </div>
                <div class="list">
                    <dl class="select select2">
                        <dt>性别</dt>
                        <dd>
                            <ul>
                                <li><a href="#">互诺科技1</a></li>
                                <li><a href="#">互诺科技2</a></li>
                                <li><a href="#">互诺科技3</a></li>
                            </ul>
                        </dd>
                    </dl>
                </div>
                <div class="list">
                    <dl class="l select">
                        <dt>性别</dt>
                        <dd>
                            <ul>
                                <li><a href="#">互诺科技1</a></li>
                                <li><a href="#">互诺科技2</a></li>
                                <li><a href="#">互诺科技3</a></li>
                            </ul>
                        </dd>
                    </dl>
                    <dl class="r select">
                        <dt>性别</dt>
                        <dd>
                            <ul>
                                <li><a href="#">互诺科技1</a></li>
                                <li><a href="#">互诺科技2</a></li>
                                <li><a href="#">互诺科技3</a></li>
                            </ul>
                        </dd>
                    </dl>
                    <div class="clear"></div>
                </div>
                <div class="list">
                    <input type="text" class="l text" placeholder="姓名" />
                    <input type="text" class="r text" placeholder="姓名" />
                    <div class="clear"></div>
                </div>
                <div class="list">
                    <input type="text" class="text t2" placeholder="姓名" />
                </div>
                <div class="an">
                    <input type="button" class="l button SaveBtn" value="保存" />
                    <input type="button" class="l button CloseBtn b2" value="取消" />
                    <div class="clear"></div>
                </div>
            </div>
            <div class="l box1 zb SaveBox">
                <ul class="xbox1 infobox">
                    <li><span>姓名：</span>{yun:}$resume.name{/yun}</li>
                    <li><span>专业：</span>临床医生</li>
                    <li><span>最高学历：</span>{yun:}$userclass_name[$resume.edu]{/yun}</li>
                    <li><span>职称：</span>专业护士</li>
                    <li><span>现居住地：</span>{yun:}$resume.living{/yun}</li>
                    <li><span>联系电话：</span>{yun:}$resume.telphone{/yun}</li>
                    <li><span>工作年限：</span>{yun:}$userclass_name[$resume.exp]{/yun} </li>
                    <li><span>联系邮箱：</span>{yun:}$resume.email{/yun}</li>
                    <li><span>目前工作状态：</span>{yun:}$userclass_name[$row.jobstatus]{/yun} </li>
                    <li><span>一句话介绍自己：</span>自强不息，永不言败</li>
                    <div class="clear"></div>
                </ul>
            </div>
            <div class="l box1">
                <div class="xgtx">
                    <div class="pic"><img src="{yun:}$config.sy_weburl{/yun}/resource/images/pic104.jpg" /></div>
                    <p><a href="#"><input type="hidden" id="url" value="" /> <input type="button" id="EditIcon" value="修改头像" /></a></p>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>

        <div class="con">
            <div class="tit">意向职位</div>
            <p class="p1"><span class="a2 AddBtn">添加</span><span class="EditBtn" style="display:none;">编辑</span></p>
            <!--<p class="p1"><span>编辑</span></p>-->
            <div class="EditBox box4 box1 dn">
                <div class="list">
                    <div class="l bg">
                        <span class="l">职位：</span>
                        <input type="text" class="l text" />
                        <div class="clear"></div>
                    </div>
                    <div class="l bg" style="margin-left:40px;">
                        <span class="l">工作性质：</span>
                        <input type="text" class="l text" />
                        <div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="list">
                    <div class="l bg">
                        <span class="l">工作区域：</span>
                        <input type="text" class="l text" />
                        <div class="clear"></div>
                    </div>
                    <div class="l bg" style="margin-left:40px;">
                        <span class="l">薪金范围：</span>
                        <input type="text" class="l text" />
                        <div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="an">
                    <input type="button" class="l button SaveBtn" value="保存" />
                    <input type="button" class="l button CloseBtn b2" value="取消" />
                    <div class="clear"></div>
                </div>
            </div>
            <div class="SaveBox box2 dn">
                <span class="l s1">网建技术项目总监</span>
                <span class="l s2">全职</span>
                <span class="l s3">广州</span>
                <span class="l s4">10k-15k</span>
                <div class="clear"></div>
            </div>
        </div>

        <div class="con">
            <div class="tit">工作经历</div>
            <p class="p1"><span class="a2 AddBtn">添加</span><span class="EditBtn" style="display:none;">编辑</span></p>
            <div class="SaveBox box3 dn">
                <p class="p2">广州顺大计算机科技有限公司</p>
                <p class="p3"><em>2012.07 — 2014.08</em>项目总监</p>
                <p class="p4">广州顺大计算机科技有限公司工作内容广州顺大计算机科技有限公司工作内容广州顺大计算机科技有限公司工作内容广州顺大计算机科技有限公司工作内容广州顺大计算机科技有限公司工作内容</p>
            </div>
            <div class="EditBox box4 box1 dn">
                <div class="list">
                    <div class="l bg">
                        <span class="l">学校名称：</span>
                        <input type="text" class="l text" />
                        <div class="clear"></div>
                    </div>
                    <dl class="l select">
                        <dt>学历：</dt>
                        <dd>
                            <ul>
                                <li><a href="#">互诺科技1</a></li>
                                <li><a href="#">互诺科技2</a></li>
                                <li><a href="#">互诺科技3</a></li>
                            </ul>
                        </dd>
                    </dl>
                    <div class="clear"></div>
                </div>
                <div class="list">
                    <div class="l bg">
                        <span class="l">所学专业：</span>
                        <input type="text" class="l text" />
                        <div class="clear"></div>
                    </div>
                    <dl class="l select select3">
                        <dt>学历：</dt>
                        <dd>
                            <ul>
                                <li><a href="#">互诺科技1</a></li>
                                <li><a href="#">互诺科技2</a></li>
                                <li><a href="#">互诺科技3</a></li>
                            </ul>
                        </dd>
                    </dl>
                    <dl class="l select select3 select4">
                        <dt></dt>
                        <dd>
                            <ul>
                                <li><a href="#">互诺科技1</a></li>
                                <li><a href="#">互诺科技2</a></li>
                                <li><a href="#">互诺科技3</a></li>
                            </ul>
                        </dd>
                    </dl>
                    <div class="clear"></div>
                </div>
                <div class="an">
                    <input type="button" class="l button SaveBtn" value="保存" />
                    <input type="button" class="l button CloseBtn b2" value="取消" />
                    <div class="clear"></div>
                </div>
            </div>
        </div>

        <div class="con dn">
            <div class="tit">自我描述</div>
            <p class="p1"><span class="a2 AddBtn">添加</span><span class="EditBtn" style="display:none;">编辑</span></p>
            <div class="EditBox box6 box1 box4 dn">
                <div class="ms">
                    <p class="ms">项目描述</p>
                    <textarea placeholder="项目描述"></textarea>
                </div>
                <div class="an">
                    <input type="button" class="l button SaveBtn" value="保存" />
                    <input type="button" class="l button CloseBtn b2" value="取消" />
                    <div class="clear"></div>
                </div>
            </div>
            <div class="SaveBox dn box5">
                <p>当今社会竞争激烈，所以我会更加珍惜和不断充实自我、丰富自我、完善自我。一个机会，一份信任，对于每一个渴求上进的人来说是十分宝贵的，给我一片天空，我回报的不是奇迹，而是一生的勤奋和忠诚！如蒙诚聘，我将竭尽所能，为贵单位的发展贡献自己的一份力量，请您相信，我可能不是最好的，但我会努力做得更好。</p>
            </div>
        </div>

        <div class="con dn">
            <div class="tit">项目经验</div>
            <p class="p1"><span class="a2 AddBtn">添加</span><span class="EditBtn" style="display:none;">编辑</span></p>
            <div class="EditBox box6 box1 box4 dn">
                <div class="list">
                    <input type="text" class="l text" placeholder="姓名" />
                    <dl class="l select select3">
                        <dt>学历：</dt>
                        <dd>
                            <ul>
                                <li><a href="#">互诺科技1</a></li>
                                <li><a href="#">互诺科技2</a></li>
                                <li><a href="#">互诺科技3</a></li>
                            </ul>
                        </dd>
                    </dl>
                    <dl class="l select select3 select4">
                        <dt></dt>
                        <dd>
                            <ul>
                                <li><a href="#">互诺科技1</a></li>
                                <li><a href="#">互诺科技2</a></li>
                                <li><a href="#">互诺科技3</a></li>
                            </ul>
                        </dd>
                    </dl>
                    <div class="clear"></div>
                </div>
                <div class="list">
                    <input type="text" class="l text" placeholder="姓名" />
                    <dl class="l select">
                        <dt>学历：</dt>
                        <dd>
                            <ul>
                                <li><a href="#">互诺科技1</a></li>
                                <li><a href="#">互诺科技2</a></li>
                                <li><a href="#">互诺科技3</a></li>
                            </ul>
                        </dd>
                    </dl>
                    <div class="clear"></div>
                </div>
                <div class="ms">
                    <p class="ms">项目描述</p>
                    <textarea placeholder="项目描述"></textarea>
                </div>
                <div class="an">
                    <input type="button" class="l button SaveBtn" value="保存" />
                    <input type="button" class="l button CloseBtn b2" value="取消" />
                    <div class="clear"></div>
                </div>
            </div>
            <div class="SaveBox dn"></div>
        </div>

        <div class="con dn">
            <div class="tit">学生信息</div>
            <p class="p1"><span class="a2 AddBtn">添加</span><span class="EditBtn" style="display:none;">编辑</span></p>
            <div class="EditBox box7 box1 box4 dn">
                <p class="ymsj">实践经历<em><input type="radio" />无</em><em><input type="radio" />无</em></p>
                <div class="list">
                    <input type="text" class="l text" placeholder="姓名" />
                    <dl class="l select select3">
                        <dt>学历：</dt>
                        <dd>
                            <ul>
                                <li><a href="#">互诺科技1</a></li>
                                <li><a href="#">互诺科技2</a></li>
                                <li><a href="#">互诺科技3</a></li>
                            </ul>
                        </dd>
                    </dl>
                    <dl class="l select select3 select4">
                        <dt></dt>
                        <dd>
                            <ul>
                                <li><a href="#">互诺科技1</a></li>
                                <li><a href="#">互诺科技2</a></li>
                                <li><a href="#">互诺科技3</a></li>
                            </ul>
                        </dd>
                    </dl>
                    <div class="clear"></div>
                </div>
                <div class="list"><input type="text" class="text text2" placeholder="姓名" /></div>
                <div class="ms">
                    <p class="ms">项目描述</p>
                    <textarea placeholder="项目描述"></textarea>
                </div>
                <div class="an">
                    <input type="button" class="l button" value="保存" />
                    <input type="button" class="l button b2" value="保存" />
                    <div class="clear"></div>
                </div>

                <p class="ymsj ymsj2">实践经历<em><input type="radio" />无</em><em><input type="radio" />无</em></p>
                <div class="list">
                    <input type="text" class="l text" placeholder="姓名" />
                    <dl class="l select select3">
                        <dt>学历：</dt>
                        <dd>
                            <ul>
                                <li><a href="#">互诺科技1</a></li>
                                <li><a href="#">互诺科技2</a></li>
                                <li><a href="#">互诺科技3</a></li>
                            </ul>
                        </dd>
                    </dl>
                    <dl class="l select select3 select4">
                        <dt></dt>
                        <dd>
                            <ul>
                                <li><a href="#">互诺科技1</a></li>
                                <li><a href="#">互诺科技2</a></li>
                                <li><a href="#">互诺科技3</a></li>
                            </ul>
                        </dd>
                    </dl>
                    <div class="clear"></div>
                </div>
                <div class="list"><input type="text" class="text text2" placeholder="姓名" /></div>
                <div class="an an2">
                    <input type="button" class="l button" value="保存" />
                    <input type="button" class="l button b2" value="保存" />
                    <div class="clear"></div>
                </div>

                <p class="ymsj ymsj2">实践经历<em><input type="radio" />无</em><em><input type="radio" />无</em></p>
                <div class="list">
                    <input type="text" class="l text" placeholder="姓名" />
                    <dl class="l select select3">
                        <dt>学历：</dt>
                        <dd>
                            <ul>
                                <li><a href="#">互诺科技1</a></li>
                                <li><a href="#">互诺科技2</a></li>
                                <li><a href="#">互诺科技3</a></li>
                            </ul>
                        </dd>
                    </dl>
                    <dl class="l select select3 select4">
                        <dt></dt>
                        <dd>
                            <ul>
                                <li><a href="#">互诺科技1</a></li>
                                <li><a href="#">互诺科技2</a></li>
                                <li><a href="#">互诺科技3</a></li>
                            </ul>
                        </dd>
                    </dl>
                    <div class="clear"></div>
                </div>
                <div class="list"><input type="text" class="text text2" placeholder="姓名" /></div>
                <div class="an">
                    <input type="button" class="l button SaveBtn" value="保存" />
                    <input type="button" class="l button CloseBtn b2" value="取消" />
                    <div class="clear"></div>
                </div>
            </div>
            <div class="SaveBox dn"></div>
        </div>

        <div class="con dn">
            <div class="tit">培训经历</div>
            <p class="p1"><span class="a2 AddBtn">添加</span><span class="EditBtn" style="display:none;">编辑</span></p>
            <div class="EditBox box8 box1 box4 dn">
                <div class="list">
                    <input type="text" class="l text" placeholder="姓名" />
                    <dl class="l select select3">
                        <dt>学历：</dt>
                        <dd>
                            <ul>
                                <li><a href="#">互诺科技1</a></li>
                                <li><a href="#">互诺科技2</a></li>
                                <li><a href="#">互诺科技3</a></li>
                            </ul>
                        </dd>
                    </dl>
                    <dl class="l select select3 select4">
                        <dt></dt>
                        <dd>
                            <ul>
                                <li><a href="#">互诺科技1</a></li>
                                <li><a href="#">互诺科技2</a></li>
                                <li><a href="#">互诺科技3</a></li>
                            </ul>
                        </dd>
                    </dl>
                    <div class="clear"></div>
                </div>
                <div class="list">
                    <input type="text" class="l text" placeholder="姓名" />
                    <input type="text" class="r text" placeholder="姓名" />
                    <div class="clear"></div>
                </div>
                <div class="list">
                    <input type="text" class="l text" placeholder="姓名" />
                    <input type="text" class="r text" placeholder="姓名" />
                    <div class="clear"></div>
                </div>
                <div class="ms">
                    <p class="ms">项目描述</p>
                    <textarea></textarea>
                </div>
                <div class="an">
                    <input type="button" class="l button SaveBtn" value="保存" />
                    <input type="button" class="l button CloseBtn b2" value="取消" />
                    <div class="clear"></div>
                </div>
            </div>
            <div class="SaveBox dn"></div>
        </div>

        <div class="con no_mar dn">
            <div class="tit">附件</div>
            <p class="p1"><span class="a2 AddBtn">添加</span><span class="EditBtn" style="display:none;">编辑</span></p>
            <div class="EditBox box9 box1 dn">
                <div class="list">
                    <dl class="select">
                        <dt>类别</dt>
                        <dd>
                            <ul>
                                <li>互诺科技1</li>
                                <li>互诺科技2</li>
                                <li>互诺科技3</li>
                            </ul>
                        </dd>
                    </dl>
                </div>
                <div class="tpb"><img src="{yun:}$config.sy_weburl{/yun}/resource/images/pic108.jpg" /></div>
                <div class="djsc">
                    <input type="button" class="button" value="点击上传" />
                </div>
                <div class="an">
                    <input type="button" class="l button SaveBtn" value="保存" />
                    <input type="button" class="l button CloseBtn b2" value="取消" />
                    <div class="clear"></div>
                </div>
            </div>
            <div class="SaveBox dn"></div>
        </div>

    </div>
    {yun:}include file= "./newright.htm"{/yun}
</div>
<div id="footer">
    <div class="footer">
        <ul class="f_box">
            <li>
                <div class="p1">全国统一服务热线：</div>
                <div class="p2">400-067-3800</div>
                <div class="p3">工作日：9：00 ~ 18：00</div>
            </li>
            <li style="margin-right:0;">
                <div class="p4"><a href="#">关于我们</a><a href="#">常见问题</a><a href="#">网站地图</a><a href="#">联系我们</a><a href="#">企业入驻</a><a href="#">意见反馈</a></div>
                <div class="p5">Copyright 2015 广州国健医药咨询服务有限公司<br>
                    版权所有   粤ICP备11016031号-4</div>
            </li>
            <li class="last">
                <div class="p6"><a href="#"><p>新浪微博</p><img src="{yun:}$config.sy_weburl{/yun}/resource/images/ysd_7.jpg"></a></div>
                <div class="p6"><a href="#"><p>微信</p><img src="{yun:}$config.sy_weburl{/yun}/resource/images/ysd_8.jpg"></a></div>
                <div class="clear"></div>
            </li>
            <div class="clear"></div>
        </ul>
    </div>
</div>
</body>
</html>
