{yun:}include file = "./newheader.htm"{/yun}
{yun:}include file="$tplstyle/public_search/index_search.htm"{/yun}
<script src="{yun:}$config.sy_weburl{/yun}/data/plus/job.cache.js" type="text/javascript"></script>
<link rel="stylesheet" href="{yun:}$style{/yun}/style/class.public.css" type="text/css">
<script src="{yun:}$config.sy_weburl{/yun}/js/class.public.js" type="text/javascript"></script>
<link href="{yun:}$config.sy_weburl{/yun}/app/template/member/user/images/yun_tck.css" type="text/css" rel="stylesheet">
<script type="text/javascript" src="{yun:}$config.sy_weburl{/yun}/app/template/member/user/js/resume.js"></script>
<script type="text/javascript" src="{yun:}$config.sy_weburl{/yun}/app/template/member/user/js/jquery.scrollto.js"></script>
<script type="text/javascript" src="{yun:}$config.sy_weburl{/yun}/app/template/member/user/js/search.js"></script>

<style>
    * {
        margin: 0;
        padding: 0;
    }
    body, div {
        margin: 0;
        padding: 0;
    }
    h1 {
        width: 90%;
        height: 40px;
        display: block;
        float: left;
    }
    .dom_m {
        float: left;
        width: 100%;
    }
    .dom_m .add {
        height: 17px;
    }
    .dom_m .add a {
        width: auto;
        height: 17px;
        text-align: center;
    }
</style>
<script>
    function checkexpect(){
//
//        if($.trim($('#name').val())==''){
//            layer.msg("请填写简历名称！",2,8);return false;
//        }
//        if($('#hyid').val()==''){
//            layer.msg("请选择从事行业！",2,8);return false;
//        }
        if($('#job_class').val()==''){
            layer.msg("请选择期望职位！",2,8);return false;
        }
//        if($('#salaryid').val()==''){
//            layer.msg("请选择期望薪资！",2,8);return false;
//        }
//        if($('#provinceid').val()==''){
//            layer.msg("请选择期望城市！",2,8);return false;
//        }
//        if($('#reportid').val()==''){
//            layer.msg("请选择到岗时间！",2,8);return false;
//        }
//        if($('#typeid').val()==''){
//            layer.msg("请选择工作性质！",2,8);return false;
//        }
//        if($('#statusid').val()==''){
//            layer.msg("请选择求职状态！",2,8);return false;
//        }
//        if($.trim($('#uname').val())==''){
//            layer.msg("请填写真实姓名！",2,8);return false;
//        }
//        if($('#sexid').val()==''){
//            layer.msg("请选择性别！",2,8);return false;
//        }
//        if($('#birthday').val()==''){
//            layer.msg("请选择出生年月！",2,8);return false;
//        }
//        if($('#eduid').val()==''){
//            layer.msg("请选择最高学历！",2,8);return false;
//        }
//        if($('#expid').val()==''){
//            layer.msg("请选择工作经验！",2,8);return false;
//        }
//        if($('#telphone').val()==''){
//            layer.msg("请填写手机号码！",2,8);return false;
//        }else{
//            var reg= /^[1][34578]\d{9}$/; //验证手机号码
//            if(!reg.test($('#telphone').val())){
//                layer.msg("手机号码格式错误！",2,8);return false;
//            }
//        }
//        if($('#email').val()==''){
//            layer.msg("请填写联系邮箱！",2,8);return false;
//        }else{
//            var myreg = /^([a-zA-Z0-9\-]+[_|\_|\.]?)*[a-zA-Z0-9\-]+@([a-zA-Z0-9\-]+[_|\_|\.]?)*[a-zA-Z0-9]+\.[a-zA-Z]{2,3}$/;
//            if(!myreg.test($('#email').val())){
//                layer.msg("邮箱格式错误！",2,8);return false;
//                return false;
//            }
//        }
//        if($.trim($('#living').val())==''){
//            layer.msg("请输入现居住地！",2,8);return false;
//        }
    }



    function saveinfo(){
        CheckPost_2();

        var name=$.trim($("input[name='name']").val());
        var project=$.trim($("input[name='project']").val());
        var level=$.trim($("input[name='level']").val());
        var description=$.trim($("input[name='description']").val());
        var telphone=$.trim($("input[name='telphone']").val());
        var email=$.trim($("input[name='email']").val());
        var edu=$.trim($("#educid").val());
        var exp=$.trim($("#expid").val());
        var living=$.trim($("#living").val());

        $.get("{yun:}url m=ajax c=saveInfo{/yun}",{"name":name,"project":project,"edu":edu,"level":level,"exp":exp,"living":living,"telphone":telphone,"email":email,"description":description},function(data){
            if(data == 1) {
                alert('邮箱已存在');
            }
            if(data == 2) {
                alert('手机已存在');
            }
            if(data == 3) {
                alert('姓名不能为空');
            }
            if(data == 4) {
                alert('性别不能为空');
            }
            if(data == 5) {
                alert('新居地不能为空');
            }
            history.go(0);

        });
    }


</script>
<!--<script>-->
    <!--$(window).load(function(){-->
        <!--$("#sticker").sticky({ topSpacing: 0, center:true, className:"hey" });-->
    <!--});-->
<!--</script>-->
<!--<script>-->
    <!--KindEditor.ready(function(K) {-->
        <!--var editor = K.editor({-->
            <!--allowFileManager : true-->
        <!--});-->
        <!--K('#EditIcon').click(function() {-->
            <!--editor.loadPlugin('image', function() {-->
                <!--editor.plugin.imageDialog({-->
                    <!--imageUrl : K('#url').val(),-->
                    <!--clickFn : function(url, title, width, height, border, align) {-->
                        <!--K('#url').val(url);-->
                        <!--editor.hideDialog();-->
                    <!--}-->
                <!--});-->
            <!--});-->
        <!--});-->
    <!--});-->
<!--</script>-->
<script src="{yun:}$config.sy_weburl{/yun}/data/plus/job.cache.js" type="text/javascript"></script>
<link rel="stylesheet" href="{yun:}$style{/yun}/style/class.public.css" type="text/css">
<script src="{yun:}$config.sy_weburl{/yun}/js/class.public.js" type="text/javascript"></script>

<div class="Resume jlgl w1000">
    <div class="l left">
        <div class="con">
            <div class="tit">基本资料</div>
            <p class="p1"><span class="EditBtn">编辑</span></p>




            <div class="l box1 zb EditBox dn">
                <!--<form name="MyForm" method="post" action="index.php?c=info"  onsubmit="return CheckPost_2();">-->
                <div class="list">
                    <input type="text" name="name" class="l text" value="{yun:}$resume.name{/yun}" placeholder="姓名" />
                    <dl class="select r">
                        <dt>{yun:}if !empty($resume.project){/yun}{yun:}$userclass_name[$resume.project]{/yun}{yun:}else{/yun}专业{yun:}/if{/yun}</dt>
                        <dd>
                            <ul>
                                {yun:}foreach from=$userdata.user_project key=j item=v{/yun}
                                <li myselect="{yun:}$v{/yun}">{yun:}$userclass_name[$v]{/yun}</li>
                                {yun:}/foreach{/yun}
                            </ul>
                            <input type="hidden" value="{yun:}$resume.project{/yun}" name="project" class="select_hidden"/>
                        </dd>
                    </dl>
                    <div class="clear"></div>
                </div>
                <div class="list">
                    <span id="by_name" style="display:none">姓名不能为空</span>
                    <span id="by_email" style="display:none">邮件不能为空</span>
                    <span id="by_living" style="display:none">现居住地不能为空</span>
                    <span id="by_educid" style="display:none">最高学历不能为空</span>
                    <span id="by_expid" style="display:none">工作经验不能为空</span>

                    <dl class="select l">
                        <dt>{yun:}if !empty($resume.edu){/yun}{yun:}$userclass_name[$resume.edu]{/yun}{yun:}else{/yun}学历{yun:}/if{/yun}</dt>
                        <dd>
                            <ul>
                                {yun:}foreach from=$userdata.user_edu key=j item=v{/yun}
                                <li myselect="{yun:}$v{/yun}">{yun:}$userclass_name[$v]{/yun}</li>
                                {yun:}/foreach{/yun}
                            </ul>
                            <input type="hidden" id="educid" name="edu" value="{yun:}$resume.edu{/yun}" class="select_hidden"/>
                        </dd>
                    </dl>
                    <dl class="r select">
                        <dt>{yun:}if !empty($resume.level){/yun}{yun:}$userclass_name[$resume.level]{/yun}{yun:}else{/yun}职称{yun:}/if{/yun}</dt>
                        <dd>
                            <ul>
                                {yun:}foreach from=$userdata.user_level key=j item=v{/yun}
                                <li myselect="{yun:}$v{/yun}">{yun:}$userclass_name[$v]{/yun}</li>
                                {yun:}/foreach{/yun}
                            </ul>
                            <input type="hidden" name="level" value="{yun:}$resume.level{/yun}" class="select_hidden"/>
                        </dd>
                    </dl>
                    <div class="clear"></div>
                </div>
                <div class="list">
                    <dl class="l select">
                        <dt>{yun:}if !empty($resume.exp){/yun}{yun:}$userclass_name[$resume.exp]{/yun}{yun:}else{/yun}工作年限{yun:}/if{/yun}</dt>
                        <dd>
                            <ul>
                                {yun:}foreach from=$userdata.user_word key=j item=v{/yun}
                                <li myselect="{yun:}$v{/yun}">{yun:}$userclass_name[$v]{/yun}</li>
                                {yun:}/foreach{/yun}
                            </ul>
                            <input type="hidden" value="{yun:}$resume.exp{/yun}" id="expid" name="exp" class="select_hidden"/>
                        </dd>
                    </dl>
                    <input type="text" id="living" name="living" class="l text" value="{yun:}$resume.living{/yun}" placeholder="现居住地" />
                    <div class="clear"></div>
                </div>

                <div class="list">
                    <input type="text" class="l text" onkeyup="this.value=this.value.replace(/[^0-9.]/g,'')" name="telphone" id="telphone"  value="{yun:}$resume.telphone{/yun}" placeholder="联系电话" />
                    <input type="text" name="email" id="email" class="r text" value="{yun:}$resume.email{/yun}" placeholder="联系邮箱" />
                    <div class="clear"></div>
                </div>

                <div class="list">
                        <input type="text" name="description" id="description" class="text t2" value="{yun:}$resume.description{/yun}" placeholder="一句话介绍自己" />
                </div>
                <div class="an">
                    <input type="submit" onclick="saveinfo()" class="l button SaveBtn" value="保存" />
                    <input type="button" class="l button CloseBtn b2" value="取消" />
                    <div class="clear"></div>
                </div>
                    <!--</form>-->
            </div>

            <div class="l box1 zb SaveBox">
                <ul class="xbox1 infobox">
                    <li><span>姓名：</span>{yun:}$resume.name{/yun}</li>
                    <li><span>专业：</span>{yun:}$userclass_name[$resume.project]{/yun}</li>
                    <li><span>最高学历：</span>{yun:}$userclass_name[$resume.edu]{/yun}</li>
                    <li><span>职称：</span>{yun:}$userclass_name[$resume.level]{/yun}</li>
                    <li><span>现居住地：</span>{yun:}$resume.living{/yun}</li>
                    <li><span>联系电话：</span>{yun:}$resume.telphone{/yun}</li>
                    <li><span>工作年限：</span>{yun:}$userclass_name[$resume.exp]{/yun} </li>
                    <li><span>联系邮箱：</span>{yun:}$resume.email{/yun}</li>
                    <!--<li><span>目前工作状态：</span>{yun:}$userclass_name[$row.jobstatus]{/yun} </li>-->
                    <li><span>一句话介绍自己：</span>{yun:}$resume.description{/yun}</li>
                    <div class="clear"></div>
                </ul>
            </div>
            <div class="l box1">
                <div class="xgtx">
                    <div class="pic"><img src="{yun:}$config.sy_weburl{/yun}/resource/images/pic104.jpg" /></div>
                    <p><a href="#"><input type="hidden" id="url" value="" /> <input type="button" id="EditIcon" value="修改头像" /></a></p>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>

        <div class="con">
            <div class="tit">意向职位</div>
            <p class="p1"><span class="EditBtn" style="display:block;">编辑</span></p>
            <!--<p class="p1"><span>编辑</span></p>-->
            <div class="EditBox box4 box1 dn">
                <div class="list">
                    <div class="l bg">
                        <span class="l">职位：</span>
                        <input type="button" value="{yun:}if !empty($job_classname){/yun}{yun:}$job_classname{/yun}{yun:}else{/yun}请选择{yun:}/if{/yun}"  class="l text" onclick="index_job(5,'#workadds_job','#job_class','left:100px;top:100px; position:absolute;');" id="workadds_job" >

                        <input name='job_class' id='job_class'  value="{yun:}$row.job_classid{/yun}" type='hidden' />
                        <div class="clear"></div>
                    </div>
                    <div class="l bg" style="margin-left:40px;">

                        <dl class="l select">
                            <dt>{yun:}if !empty($row.type){/yun}{yun:}$userclass_name[$row.type]{/yun}{yun:}else{/yun}工作性质{yun:}/if{/yun}：</dt>
                            <dd>
                                <input class="news_expect_bth_button" type="button" value="请选择工作性质" id="type" onclick="search_show('job_type');">
                                <input type="hidden" id="typeid" name="type" value="{yun:}$row.type{/yun}" />
                                <ul>
                                    {yun:}foreach from=$userdata.user_type key=j item=v{/yun}
                                    <li><a href="javascript:;" onclick="selects('{yun:}$v{/yun}', 'type', '{yun:}$userclass_name[$v]{/yun}');">{yun:}$userclass_name[$v]{/yun}</a></li>
                                    {yun:}/foreach{/yun}
                                </ul>
                            </dd>
                        </dl>

                        <!--<span class="l">工作性质：</span>-->
                        <!--<input type="text" class="l text" />-->
                        <div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="list">
                    <div class="l bg">


                        <dl class="l select">
                            <dt>工作区域：</dt>
                            <div class="news_expect_list"><span class="news_expect_list_span">期望城市：</span>
                                <div class="news_expect_text_w130  news_expect_text_re7">
                                    <input class="news_expect_bth_w130" type="button" value="{yun:}if !empty($row.provinceid){/yun}{yun:}$city_name[$row.provinceid]{/yun}{yun:}else{/yun}请选择省份{yun:}/if{/yun}" id="province" onclick="search_show('job_province');">
                                    <input type="hidden" id="provinceid" name="provinceid" value="{yun:}$row.provinceid{/yun}" />

                                    <div class="news_expect_text_box news_expect_text_box_130" id="job_province" style="display:none;">
                                        <ul class="news_expect_text_box_list">
                                            {yun:}foreach from=$city_index key=j item=v{/yun}
                                            <li>
                                                <a href="javascript:;" onclick="select_city('{yun:}$v{/yun}','province','{yun:}$city_name[$v]{/yun}','citys','city');">{yun:}$city_name[$v]{/yun}</a>
                                            </li>
                                            {yun:}/foreach{/yun}
                                        </ul>
                                    </div>
                                </div>
                                <div class="news_expect_text_w130  news_expect_text_re7">
                                    <input class="news_expect_bth_w130" type="button" value="{yun:}if !empty($row.cityid){/yun}{yun:}$city_name[$row.cityid]{/yun}{yun:}else{/yun}请选择城市{yun:}/if{/yun}" id="citys" onclick="search_show('job_citys');">
                                    <input type="hidden" id="citysid" name="citysid" value="{yun:}$row.cityid{/yun}" />

                                    <div class="news_expect_text_box news_expect_text_box_city  news_expect_text_box_130" id="job_citys" style="display:none;">
                                        <ul class="news_expect_text_box_list">

                                        </ul>
                                    </div>
                                </div>
                                <div class="news_expect_text_w130  news_expect_text_re7" id="cityshowth">
                                    <input class="news_expect_bth_w130" type="button" value="{yun:}if !empty($row.three_cityid){/yun}{yun:}$city_name[$row.three_cityid]{/yun}{yun:}else{/yun}请选择区县{yun:}/if{/yun}" id="three_city" onclick="search_show('job_three_city');">

                                    <input type="hidden" id="three_cityid" name="three_cityid" value="{yun:}$row.three_cityid{/yun}" />

                                    <div class="news_expect_text_box news_expect_text_box_city news_expect_text_box_130" id="job_three_city" style="display:none;">
                                        <ul class="news_expect_text_box_list">

                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </dl>


                        <!--<span class="l">工作区域：</span>-->
                        <!--<input type="text" class="l text" />-->
                        <!---->
                        <div class="clear"></div>
                    </div>
                    <div class="l bg" style="margin-left:40px;">


                        <dl class="l select">
                            <dt>{yun:}if !empty($row.salary){/yun}{yun:}$userclass_name[$row.salary]{/yun}{yun:}else{/yun}期望薪资：{yun:}/if{/yun}</dt>
                            <dd>
                                <ul>
                                    <input type="hidden" id="salaryid" name="salary" value="{yun:}$row.salary{/yun}" />
                                    {yun:}foreach from=$userdata.user_salary key=j item=v{/yun}
                                    <li>
                                        <a href="javascript:;" onclick="selects('{yun:}$v{/yun}','salary','{yun:}$userclass_name[$v]{/yun}');"> {yun:}$userclass_name[$v]{/yun}</a>
                                    </li>
                                    {yun:}/foreach{/yun}
                                </ul>
                            </dd>
                        </dl>

                        <!--<span class="l">薪金范围：</span>-->
                        <!--<input type="text" class="l text" />-->
                        <div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="an">
                    <input type="button" onclick="saveexpect_2()" class="l button SaveBtn" value="保存" />
                    <input type="button" class="l button CloseBtn b2" value="取消" />
                    <div class="clear"></div>
                </div>
            </div>

            <div class="SaveBox box2">
                <input type="hidden" id="eid" value="{yun:}$row.id{/yun}">
                <span class="l s1">{yun:}$job_classname{/yun}</span>
                <span class="l s2">{yun:}$userclass_name[$row.type]{/yun}</span>
                <span class="l s3">{yun:}$city_name[$row.cityid]{/yun}</span>
                <span class="l s4">{yun:}$userclass_name[$row.salary]{/yun}</span>
                <div class="clear"></div>
            </div>
        </div>

        <div class="con">
            <div class="tit">工作经历</div>
            <p class="p1"><span class="a2 AddBtn">添加</span><span class="EditBtn" style="display:none;">编辑</span></p>
            <div class="SaveBox box3 dn">
                <p class="p2">广州顺大计算机科技有限公司</p>
                <p class="p3"><em>2012.07 — 2014.08</em>项目总监</p>
                <p class="p4">广州顺大计算机科技有限公司工作内容广州顺大计算机科技有限公司工作内容广州顺大计算机科技有限公司工作内容广州顺大计算机科技有限公司工作内容广州顺大计算机科技有限公司工作内容</p>
            </div>
            <div class="EditBox box4 box1 dn">
                <div class="list">
                    <div class="l bg">
                        <span class="l">学校名称：</span>
                        <input type="text" class="l text" />
                        <div class="clear"></div>
                    </div>
                    <dl class="l select">
                        <dt>学历：</dt>
                        <dd>
                            <ul>
                                <li><a href="#">互诺科技1</a></li>
                                <li><a href="#">互诺科技2</a></li>
                                <li><a href="#">互诺科技3</a></li>
                            </ul>
                        </dd>
                    </dl>
                    <div class="clear"></div>
                </div>
                <div class="list">
                    <div class="l bg">
                        <span class="l">所学专业：</span>
                        <input type="text" class="l text" />
                        <div class="clear"></div>
                    </div>
                    <dl class="l select select3">
                        <dt>学历：</dt>
                        <dd>
                            <ul>
                                <li><a href="#">互诺科技1</a></li>
                                <li><a href="#">互诺科技2</a></li>
                                <li><a href="#">互诺科技3</a></li>
                            </ul>
                        </dd>
                    </dl>
                    <dl class="l select select3 select4">
                        <dt></dt>
                        <dd>
                            <ul>
                                <li><a href="#">互诺科技1</a></li>
                                <li><a href="#">互诺科技2</a></li>
                                <li><a href="#">互诺科技3</a></li>
                            </ul>
                        </dd>
                    </dl>
                    <div class="clear"></div>
                </div>
                <div class="an">
                    <input type="button" class="l button SaveBtn" value="保存" />
                    <input type="button" class="l button CloseBtn b2" value="取消" />
                    <div class="clear"></div>
                </div>
            </div>
        </div>

        <div class="con dn">
            <div class="tit">自我描述</div>
            <p class="p1"><span class="a2 AddBtn">添加</span><span class="EditBtn" style="display:none;">编辑</span></p>
            <div class="EditBox box6 box1 box4 dn">
                <div class="ms">
                    <p class="ms">项目描述</p>
                    <textarea placeholder="项目描述"></textarea>
                </div>
                <div class="an">
                    <input type="button" class="l button SaveBtn" value="保存" />
                    <input type="button" class="l button CloseBtn b2" value="取消" />
                    <div class="clear"></div>
                </div>
            </div>
            <div class="SaveBox dn box5">
                <p>当今社会竞争激烈，所以我会更加珍惜和不断充实自我、丰富自我、完善自我。一个机会，一份信任，对于每一个渴求上进的人来说是十分宝贵的，给我一片天空，我回报的不是奇迹，而是一生的勤奋和忠诚！如蒙诚聘，我将竭尽所能，为贵单位的发展贡献自己的一份力量，请您相信，我可能不是最好的，但我会努力做得更好。</p>
            </div>
        </div>

        <div class="con dn">
            <div class="tit">项目经验</div>
            <p class="p1"><span class="a2 AddBtn">添加</span><span class="EditBtn" style="display:none;">编辑</span></p>
            <div class="EditBox box6 box1 box4 dn">
                <div class="list">
                    <input type="text" class="l text" placeholder="姓名" />
                    <dl class="l select select3">
                        <dt>学历：</dt>
                        <dd>
                            <ul>
                                <li><a href="#">互诺科技1</a></li>
                                <li><a href="#">互诺科技2</a></li>
                                <li><a href="#">互诺科技3</a></li>
                            </ul>
                        </dd>
                    </dl>
                    <dl class="l select select3 select4">
                        <dt></dt>
                        <dd>
                            <ul>
                                <li><a href="#">互诺科技1</a></li>
                                <li><a href="#">互诺科技2</a></li>
                                <li><a href="#">互诺科技3</a></li>
                            </ul>
                        </dd>
                    </dl>
                    <div class="clear"></div>
                </div>
                <div class="list">
                    <input type="text" class="l text" placeholder="姓名" />
                    <dl class="l select">
                        <dt>学历：</dt>
                        <dd>
                            <ul>
                                <li><a href="#">互诺科技1</a></li>
                                <li><a href="#">互诺科技2</a></li>
                                <li><a href="#">互诺科技3</a></li>
                            </ul>
                        </dd>
                    </dl>
                    <div class="clear"></div>
                </div>
                <div class="ms">
                    <p class="ms">项目描述</p>
                    <textarea placeholder="项目描述"></textarea>
                </div>
                <div class="an">
                    <input type="button" class="l button SaveBtn" value="保存" />
                    <input type="button" class="l button CloseBtn b2" value="取消" />
                    <div class="clear"></div>
                </div>
            </div>
            <div class="SaveBox dn"></div>
        </div>

        <div class="con dn">
            <div class="tit">学生信息</div>
            <p class="p1"><span class="a2 AddBtn">添加</span><span class="EditBtn" style="display:none;">编辑</span></p>
            <div class="EditBox box7 box1 box4 dn">
                <p class="ymsj">实践经历<em><input type="radio" />无</em><em><input type="radio" />无</em></p>
                <div class="list">
                    <input type="text" class="l text" placeholder="姓名" />
                    <dl class="l select select3">
                        <dt>学历：</dt>
                        <dd>
                            <ul>
                                <li><a href="#">互诺科技1</a></li>
                                <li><a href="#">互诺科技2</a></li>
                                <li><a href="#">互诺科技3</a></li>
                            </ul>
                        </dd>
                    </dl>
                    <dl class="l select select3 select4">
                        <dt></dt>
                        <dd>
                            <ul>
                                <li><a href="#">互诺科技1</a></li>
                                <li><a href="#">互诺科技2</a></li>
                                <li><a href="#">互诺科技3</a></li>
                            </ul>
                        </dd>
                    </dl>
                    <div class="clear"></div>
                </div>
                <div class="list"><input type="text" class="text text2" placeholder="姓名" /></div>
                <div class="ms">
                    <p class="ms">项目描述</p>
                    <textarea placeholder="项目描述"></textarea>
                </div>
                <div class="an">
                    <input type="button" class="l button" value="保存" />
                    <input type="button" class="l button b2" value="保存" />
                    <div class="clear"></div>
                </div>

                <p class="ymsj ymsj2">实践经历<em><input type="radio" />无</em><em><input type="radio" />无</em></p>
                <div class="list">
                    <input type="text" class="l text" placeholder="姓名" />
                    <dl class="l select select3">
                        <dt>学历：</dt>
                        <dd>
                            <ul>
                                <li><a href="#">互诺科技1</a></li>
                                <li><a href="#">互诺科技2</a></li>
                                <li><a href="#">互诺科技3</a></li>
                            </ul>
                        </dd>
                    </dl>
                    <dl class="l select select3 select4">
                        <dt></dt>
                        <dd>
                            <ul>
                                <li><a href="#">互诺科技1</a></li>
                                <li><a href="#">互诺科技2</a></li>
                                <li><a href="#">互诺科技3</a></li>
                            </ul>
                        </dd>
                    </dl>
                    <div class="clear"></div>
                </div>
                <div class="list"><input type="text" class="text text2" placeholder="姓名" /></div>
                <div class="an an2">
                    <input type="button" class="l button" value="保存" />
                    <input type="button" class="l button b2" value="保存" />
                    <div class="clear"></div>
                </div>

                <p class="ymsj ymsj2">实践经历<em><input type="radio" />无</em><em><input type="radio" />无</em></p>
                <div class="list">
                    <input type="text" class="l text" placeholder="姓名" />
                    <dl class="l select select3">
                        <dt>学历：</dt>
                        <dd>
                            <ul>
                                <li><a href="#">互诺科技1</a></li>
                                <li><a href="#">互诺科技2</a></li>
                                <li><a href="#">互诺科技3</a></li>
                            </ul>
                        </dd>
                    </dl>
                    <dl class="l select select3 select4">
                        <dt></dt>
                        <dd>
                            <ul>
                                <li><a href="#">互诺科技1</a></li>
                                <li><a href="#">互诺科技2</a></li>
                                <li><a href="#">互诺科技3</a></li>
                            </ul>
                        </dd>
                    </dl>
                    <div class="clear"></div>
                </div>
                <div class="list"><input type="text" class="text text2" placeholder="姓名" /></div>
                <div class="an">
                    <input type="button" class="l button SaveBtn" value="保存" />
                    <input type="button" class="l button CloseBtn b2" value="取消" />
                    <div class="clear"></div>
                </div>
            </div>
            <div class="SaveBox dn"></div>
        </div>

        <div class="con dn">
            <div class="tit">培训经历</div>
            <p class="p1"><span class="a2 AddBtn">添加</span><span class="EditBtn" style="display:none;">编辑</span></p>
            <div class="EditBox box8 box1 box4 dn">
                <div class="list">
                    <input type="text" class="l text" placeholder="姓名" />
                    <dl class="l select select3">
                        <dt>学历：</dt>
                        <dd>
                            <ul>
                                <li><a href="#">互诺科技1</a></li>
                                <li><a href="#">互诺科技2</a></li>
                                <li><a href="#">互诺科技3</a></li>
                            </ul>
                        </dd>
                    </dl>
                    <dl class="l select select3 select4">
                        <dt></dt>
                        <dd>
                            <ul>
                                <li><a href="#">互诺科技1</a></li>
                                <li><a href="#">互诺科技2</a></li>
                                <li><a href="#">互诺科技3</a></li>
                            </ul>
                        </dd>
                    </dl>
                    <div class="clear"></div>
                </div>
                <div class="list">
                    <input type="text" class="l text" placeholder="姓名" />
                    <input type="text" class="r text" placeholder="姓名" />
                    <div class="clear"></div>
                </div>
                <div class="list">
                    <input type="text" class="l text" placeholder="姓名" />
                    <input type="text" class="r text" placeholder="姓名" />
                    <div class="clear"></div>
                </div>
                <div class="ms">
                    <p class="ms">项目描述</p>
                    <textarea></textarea>
                </div>
                <div class="an">
                    <input type="button" class="l button SaveBtn" value="保存" />
                    <input type="button" class="l button CloseBtn b2" value="取消" />
                    <div class="clear"></div>
                </div>
            </div>
            <div class="SaveBox dn"></div>
        </div>

        <div class="con no_mar dn">
            <div class="tit">附件</div>
            <p class="p1"><span class="a2 AddBtn">添加</span><span class="EditBtn" style="display:none;">编辑</span></p>
            <div class="EditBox box9 box1 dn">
                <div class="list">
                    <dl class="select">
                        <dt>类别</dt>
                        <dd>
                            <ul>
                                <li>互诺科技1</li>
                                <li>互诺科技2</li>
                                <li>互诺科技3</li>
                            </ul>
                        </dd>
                    </dl>
                </div>
                <div class="tpb"><img src="{yun:}$config.sy_weburl{/yun}/resource/images/pic108.jpg" /></div>
                <div class="djsc">
                    <input type="button" class="button" value="点击上传" />
                </div>
                <div class="an">
                    <input type="button" class="l button SaveBtn" value="保存" />
                    <input type="button" class="l button CloseBtn b2" value="取消" />
                    <div class="clear"></div>
                </div>
            </div>
            <div class="SaveBox dn"></div>
        </div>

    </div>
    {yun:}include file= "./newright.htm"{/yun}
</div>
<div id="footer">
    <div class="footer">
        <ul class="f_box">
            <li>
                <div class="p1">全国统一服务热线：</div>
                <div class="p2">400-067-3800</div>
                <div class="p3">工作日：9：00 ~ 18：00</div>
            </li>
            <li style="margin-right:0;">
                <div class="p4"><a href="#">关于我们</a><a href="#">常见问题</a><a href="#">网站地图</a><a href="#">联系我们</a><a href="#">企业入驻</a><a href="#">意见反馈</a></div>
                <div class="p5">Copyright 2015 广州国健医药咨询服务有限公司<br>
                    版权所有   粤ICP备11016031号-4</div>
            </li>
            <li class="last">
                <div class="p6"><a href="#"><p>新浪微博</p><img src="{yun:}$config.sy_weburl{/yun}/resource/images/ysd_7.jpg"></a></div>
                <div class="p6"><a href="#"><p>微信</p><img src="{yun:}$config.sy_weburl{/yun}/resource/images/ysd_8.jpg"></a></div>
                <div class="clear"></div>
            </li>
            <div class="clear"></div>
        </ul>
    </div>
</div>
</body>
</html>
