<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=GBK" />
    <title>收藏</title>
    <link href="{yun:}$config.sy_weburl{/yun}/resource/css/style.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="{yun:}$config.sy_weburl{/yun}/resource/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="{yun:}$config.sy_weburl{/yun}/resource/js/jquery.SuperSlide.2.1.js"></script>
    <script type="text/javascript" src="{yun:}$config.sy_weburl{/yun}/resource/js/js.js"></script>
</head>

<body class="j_body">
<div class="j_header">
    <div class="w1000">
        <div class="l"><a href="#"><img src="{yun:}$config.sy_weburl{/yun}/resource/images/pic02.png" /></a></div>
        <ul class="l menu">
            <li><a href="#">招聘中心</a></li>
            <li><a href="#">发布职位</a></li>
            <li><a href="#">简历管理</a></li>
            <li><a href="#">企业信息</a></li>
            <li><a href="#">招人才</a></li>
            <div class="clear"></div>
        </ul>
        <dl class="r select">
            <dt>互诺科技互诺科技互诺科技互诺科技</dt>
            <dd>
                <ul>
                    <li><a href="#">互诺科技1</a></li>
                    <li><a href="#">互诺科技2</a></li>
                    <li><a href="#">互诺科技3</a></li>
                </ul>
            </dd>
        </dl>
        <div class="clear"></div>
    </div>
</div>

<div class="scang w1000">
    <div class="l left">
        <div class="j_tab">
            <ul class="hd">
                <li class="on">
                    <a href="#">
                        <div class="tb">
                            <img class="img1" src="{yun:}$config.sy_weburl{/yun}/resource/images/pic115.png" />
                            <img class="img2" src="{yun:}$config.sy_weburl{/yun}/resource/images/pic115_2.png" />
                        </div>
                        <p>职位订阅</p>
                    </a>
                </li>
                <div class="clear"></div>
            </ul>
            <div class="huan">
                <div class="list">
                    <div class="l pic"><img src="{yun:}$config.sy_weburl{/yun}/resource/images/pic113.jpg" /></div>
                    <div class="l zj">
                        <p class="p1">网站应用开发工程师<em>成都  |  全职</em></p>
                        <p class="p2">成都西可<em>7k-14k</em>本科  /  1-3年 </p>
                        <p class="p3">管理规范、待遇丰厚、帅哥美女多</p>
                    </div>
                    <div class="l zhd">
                        <p>发布时间：2015-05-06</p>
                        <div class="aniu">
                            <input type="button" class="l button" value="取消收藏" />
                            <input type="button" class="l button" value="投简历" />
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="list">
                    <div class="l pic"><img src="{yun:}$config.sy_weburl{/yun}/resource/images/pic113.jpg" /></div>
                    <div class="l zj">
                        <p class="p1">网站应用开发工程师<em>成都  |  全职</em></p>
                        <p class="p2">成都西可<em>7k-14k</em>本科  /  1-3年 </p>
                        <p class="p3">管理规范、待遇丰厚、帅哥美女多</p>
                    </div>
                    <div class="l zhd">
                        <p>发布时间：2015-05-06</p>
                        <div class="aniu">
                            <input type="button" class="l button" value="取消收藏" />
                            <input type="button" class="l button" value="投简历" />
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="list">
                    <div class="l pic"><img src="{yun:}$config.sy_weburl{/yun}/resource/images/pic113.jpg" /></div>
                    <div class="l zj">
                        <p class="p1">网站应用开发工程师<em>成都  |  全职</em></p>
                        <p class="p2">成都西可<em>7k-14k</em>本科  /  1-3年 </p>
                        <p class="p3">管理规范、待遇丰厚、帅哥美女多</p>
                    </div>
                    <div class="l zhd">
                        <p>发布时间：2015-05-06</p>
                        <div class="aniu">
                            <input type="button" class="l button" value="取消收藏" />
                            <input type="button" class="l button" value="投简历" />
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="list">
                    <div class="l pic"><img src="{yun:}$config.sy_weburl{/yun}/resource/images/pic113.jpg" /></div>
                    <div class="l zj">
                        <p class="p1">网站应用开发工程师<em>成都  |  全职</em></p>
                        <p class="p2">成都西可<em>7k-14k</em>本科  /  1-3年 </p>
                        <p class="p3">管理规范、待遇丰厚、帅哥美女多</p>
                    </div>
                    <div class="l zhd">
                        <p>发布时间：2015-05-06</p>
                        <div class="aniu">
                            <input type="button" class="l button" value="取消收藏" />
                            <input type="button" class="l button" value="投简历" />
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="list">
                    <div class="l pic"><img src="{yun:}$config.sy_weburl{/yun}/resource/images/pic113.jpg" /></div>
                    <div class="l zj">
                        <p class="p1">网站应用开发工程师<em>成都  |  全职</em></p>
                        <p class="p2">成都西可<em>7k-14k</em>本科  /  1-3年 </p>
                        <p class="p3">管理规范、待遇丰厚、帅哥美女多</p>
                    </div>
                    <div class="l zhd">
                        <p>发布时间：2015-05-06</p>
                        <div class="aniu">
                            <input type="button" class="l button" value="取消收藏" />
                            <input type="button" class="l button" value="投简历" />
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="list">
                    <div class="l pic"><img src="{yun:}$config.sy_weburl{/yun}/resource/images/pic113.jpg" /></div>
                    <div class="l zj">
                        <p class="p1">网站应用开发工程师<em>成都  |  全职</em></p>
                        <p class="p2">成都西可<em>7k-14k</em>本科  /  1-3年 </p>
                        <p class="p3">管理规范、待遇丰厚、帅哥美女多</p>
                    </div>
                    <div class="l zhd">
                        <p>发布时间：2015-05-06</p>
                        <div class="aniu">
                            <input type="button" class="l button" value="取消收藏" />
                            <input type="button" class="l button" value="投简历" />
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="j_page">
                    <div class="page1">
                        <a href="#">上一页</a>
                        <a href="#">1</a>
                        <a href="#">2</a>
                        <a href="#">3</a>
                        <a href="#">4</a>
                        <a href="#">5</a>
                        <a href="#">6</a>
                        <a href="#">下一页</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="r right_all">
        <div class="bfb">
            <script type="text/javascript" src="{yun:}$config.sy_weburl{/yun}/resource/js/jquery.circliful.min.js"></script>
            <script type="text/javascript">
                $( document ).ready(function() {
                    $('#myStat2').circliful();
                });
            </script>
            <div id="myStat2" data-dimension="89" data-text="30%" data-info="New Clients" data-width="10" data-fontsize="20" data-percent="35" data-fgcolor="#fe960f" data-bgcolor="#efefef"></div>
        </div>
        <ul class="blj">
            <li><a href="#">编辑简历</a></li>
            <li><a class="a2" href="#">预览简历</a></li>
            <div class="clear"></div>
        </ul>
        <ul class="f_nav">
            <li>
                <a href="#">
                    <div class="pic">
                        <img class="img1" src="{yun:}$config.sy_weburl{/yun}/resource/images/pic74.png" />
                        <img class="img2" src="{yun:}$config.sy_weburl{/yun}/resource/images/pic74_2.png" />
                    </div>
                    <p>投递箱</p>
                </a>
                <div class="num">2</div>
            </li>
            <li>
                <a href="#">
                    <div class="pic">
                        <img class="img1" src="{yun:}$config.sy_weburl{/yun}/resource/images/pic75.png" />
                        <img class="img2" src="{yun:}$config.sy_weburl{/yun}/resource/images/pic75_2.png" />
                    </div>
                    <p>投递箱</p>
                </a>
            </li>
            <li class="hover">
                <a href="#">
                    <div class="pic">
                        <img class="img1" src="{yun:}$config.sy_weburl{/yun}/resource/images/pic76.png" />
                        <img class="img2" src="{yun:}$config.sy_weburl{/yun}/resource/images/pic76_2.png" />
                    </div>
                    <p>投递箱</p>
                </a>
            </li>
            <li class="last">
                <a href="#">
                    <div class="pic">
                        <img class="img1" src="{yun:}$config.sy_weburl{/yun}/resource/images/pic77.png" />
                        <img class="img2" src="{yun:}$config.sy_weburl{/yun}/resource/images/pic77_2.png" />
                    </div>
                    <p>投递箱</p>
                </a>
            </li>
            <div class="clear"></div>
        </ul>
        <ul class="box2">
            <li><a class="a2" href="#">增值中心</a></li>
            <li><a class="a3" href="#">增值中心</a></li>
            <li><a class="a4" href="#">增值中心</a></li>
            <li><a class="a5" href="#">增值中心</a></li>
        </ul>
        <div class="j_wechat">
            <div class="pic"><img src="{yun:}$config.sy_weburl{/yun}/resource/images/pic81.jpg" /></div>
            <p>扫一扫，立即下载药师多APP求职信息随时掌握</p>
        </div>
    </div>
    <div class="clear"></div>
</div>
</body>
</html>
