{yun:}include file="./newheader.htm"{/yun}
<link rel="stylesheet" href="{yun:}$style{/yun}/style/comapply.css" type="text/css">
<!--[if IE 6]>
<script src="{yun:}$config.sy_weburl{/yun}/js/png.js"></script>
<script>
    DD_belatedPNG.fix('.png');
</script>
<![endif]-->
<div class="scang w1000">
    <div class="l left">
        <div class="j_tab">
            <ul class="hd">
                <li class="on">
                    <a href="#">
                        <div class="tb">
                            <img class="img1" src="{yun:}$config.sy_weburl{/yun}/resource/images/pic115.png" />
                            <img class="img2" src="{yun:}$config.sy_weburl{/yun}/resource/images/pic115_2.png" />
                        </div>
                        <p>职位收藏</p>
                    </a>
                </li>
                <div class="clear"></div>
            </ul>
            <div class="huan">


                {yun:}if empty($rows){/yun}
                <div>你还没有收藏职位哦！<a href="{yun:}url m=job{/yun}">马上去找工作</a></div>
                {yun:}else{/yun}
                {yun:}foreach item=job from=$rows{/yun}
                <div class="list">
                    <div class="l pic">

                        <img src="{yun:}if empty($job.companylog){/yun} {yun:}$config.sy_weburl{/yun}/resource/images/pic113.jpg{yun:}else{/yun}{yun:}$job.companylog{/yun}{yun:}/if{/yun}" /></div>
                    <div class="l zj">
                        <p class="p1">{yun:}$job.job_name{/yun}<em>{yun:}$city_name[$job.cityid]{/yun}  |  {yun:}$job.jobtype{/yun}</em></p>
                        <p class="p2">成都西可<em>{yun:}$job.salaryk{/yun}</em>{yun:}$job.edu{/yun}  /  {yun:}$job.exp{/yun} </p>
                        <p class="p3">{yun:}$job.description{/yun}</p>
                    </div>
                    <div class="l zhd">
                        <p>发布时间：{yun:}$job.sdate|date_format:"%Y-%m-%d %H:%M"{/yun}</p>
                        <div class="aniu">
                            <input type="button" class="l button" onclick="layer_del('确定要删除？','index.php?c=favorite&act=del&id={yun:}$job.id{/yun}');" value="取消收藏" />
                            {yun:}if $job.userid_job{/yun}
                            <input type="button" class="l button"  value="已投" />
                            {yun:}else{/yun}
                            <input type="button" class="l button" onclick='display("{yun:}$job.com_name{/yun}","{yun:}$job.job_name{/yun}","{yun:}$job.uid{/yun}","{yun:}$job.jobid{/yun}")' value="投简历" />
                            {yun:}/if{/yun}
                            <a id="sq_job2" href="javascript:;" class="comapply_sq_submit" jobid2="{yun:}$job.id{/yun}"></a>
                            <div class="clear"></div>
                        </div>
                    </div>



                    <div class="clear"></div>
                </div>
                {yun:}/foreach{/yun}
                {yun:}/if{/yun}

                <div class="j_page">
                    <div class="page1">
                         {yun:}$pagenav{/yun}
                    </div>
                </div>
            </div>
        </div>

    </div>
{yun:}include file="./newright.htm"{/yun}


<div id="footer">
    <div class="footer">
        <ul class="f_box">
            <li>
                <div class="p1">全国统一服务热线：</div>
                <div class="p2">400-067-3800</div>
                <div class="p3">工作日：9：00 ~ 18：00</div>
            </li>
            <li style="margin-right:0;">
                <div class="p4"><a href="#">关于我们</a><a href="#">常见问题</a><a href="#">网站地图</a><a href="#">联系我们</a><a href="#">企业入驻</a><a href="#">意见反馈</a></div>
                <div class="p5">Copyright 2015 广州国健医药咨询服务有限公司<br>
                    版权所有   粤ICP备11016031号-4</div>
            </li>
            <li class="last">
                <div class="p6"><a href="#"><p>新浪微博</p><img src="{yun:}$config.sy_weburl{/yun}/resource/images/ysd_7.jpg"></a></div>
                <div class="p6"><a href="#"><p>微信</p><img src="{yun:}$config.sy_weburl{/yun}/resource/images/ysd_8.jpg"></a></div>
                <div class="clear"></div>
            </li>
            <div class="clear"></div>
        </ul>
    </div>
</div>
<script>

    function display(companyname,jobname,companyuid,jobid){
//        alert(companyname);alert(jobname);alert(companyuid);alert(jobid);
//        var jobid = $(this).attr('jobid2');
        $.post(weburl+"/index.php?m=ajax&c=index_ajaxjob",{jobid:jobid},function(data){
            if(data==4){
                layer.msg('您不符合该公司要求，无法提交申请！', 2, 8);
            }else if(!data || data==0){
                showcomlogin();
            }else if(data==2){
                layer.alert('您还没有简历，是否先添加简历？', 0, '提示',function(){window.location.href =weburl+"/member/index.php?c=expect&add=2";window.event.returnValue = false;return false; });
            }else if(data==3){
                layer.msg('您已申请过该职位！', 2, 3);
            }else{
                //申请简历



                //var companyname=$("#companyname").val();(company_job 的 com_name)
               // var jobname=$("#jobname").val();
               // var companyuid=$("#companyuid").val();
               // var jobid=$("#jobid").val(); (company_job 的 id)
               // var eid=$("input[name=resume]:checked").val();
                //$('#sqjob_show').hide();
                //$('#bg').hide();
               // layer.closeAll();
                var loadi = layer.load('执行中，请稍候...',0);
                $.post(weburl+"/index.php?m=ajax&c=sq_job",{companyname:companyname,jobname:jobname,companyuid:companyuid,jobid:jobid},function(data){
                    layer.close(loadi);
                    if(data==4){
                        layer.msg('您不符合该公司要求，无法提交申请！', 2, 8);
                    }else if(data==1){
                        var i = $.layer({
                            area:['auto','auto'],
                            dialog:{
                                msg:'申请成功，是否返回个人中心？',
                                btns:2,
                                type:4,
                                btn:['个人中心','关闭'],
                                yes:function(){window.location.href=weburl+"/member/index.php?c=job";window.event.returnValue = false;return false;},
                                no:function(){layer.close(i);}
                            }
                        });
                    }else if(data==2){
                        layer.msg('系统出错，请稍后再试！', 2, 3);return false;
                    }else if(data==3){
                        layer.msg('您已申请过该职位！', 2, 0);return false;
                    }else if(data==5){
                        layer.msg('该职位已过期，不能申请该职位！', 2, 3);return false;
                    }else if(data==6){
                        layer.msg('该职位不存在！', 2, 8);return false;
                    }else{
                        layer.alert('请先登录！',0,'提示',function(){window.location.href="index.php?m=login&usertype=1";window.event.returnValue=false;return false;});
                    }
                });





            }
        });

    };
</script>
</body>
</html>
