{yun:}include file="./newheader.htm"{/yun}

<div class="rczx_index w1000">
    <div class="l left">
        <div class="t_pic">
            <img src="{yun:}$config.sy_weburl{/yun}/resource/images/pic116.jpg" />
            <input type="button" class="button" />
        </div>
        <div class="box">
            <p class="p1"><a href="{yun:}$config.sy_weburl{/yun}/member/index.php?act=more">更多</a><em>职位推荐</em></p>
            <table>
                <tr class="tr1">
                    <td width="462" class="td1">职位</td>
                    <td width="160">匹配度</td>
                    <td width="96">时间</td>
                </tr>
                {yun:}foreach item=job_list from=$selljob{/yun}
                <tr class="tr2">
                    <td class="td1">
                        <p>{yun:}$job_list.name{/yun}<em class="e1">{yun:}$city_name[$job_list.cityid]{/yun}  |  {yun:}$comclass_name[$job_list.type]{/yun}</em><em class="e2">{yun:}$comclass_name[$job_list.salary]{/yun}</em><br /><em class="e3">{yun:}$job_list.com_n{/yun}</em></p>
                    </td>
                    <td class="td2">{yun:}$job_list.mat{/yun}0%</td>
                    <td class="td3">{yun:}$job_list.lastupdate|date_format:"%Y-%m-%d %H:%M"{/yun}</td>
                </tr>
                {yun:}/foreach{/yun}

            </table>
            <!--<div class="an"><input type="button" class="button" /></div>-->
            <div class="j_page">
                <div class="page1">
                    {yun:}$pagenav{/yun}
                </div>
            </div>
        </div>
    </div>
{yun:}include file="./newright.htm"{/yun}
</div>
</body>
</html>
