{yun:}include file="./newheader.htm"{/yun}

<div class="rczx_index w1000">
    <div class="l left">
        <div class="t_pic">
            <img src="{yun:}$config.sy_weburl{/yun}/resource/images/pic116.jpg" />
            <input type="button" class="button" />
        </div>
        <div class="box">
            <p class="p1"><a href="#">更多</a><em>职位推荐</em></p>
            <table>
                <tr class="tr1">
                    <td width="462" class="td1">职位</td>
                    <td width="160">匹配度</td>
                    <td width="96">时间</td>
                </tr>
                {yun:}joblist namelen=30 comlen=30 isshow=1 ispage=1 rec='auto.rec' hy='auto.hy' job1='auto.job1' job1_son='auto.job1_son' job_post='auto.job_post'
                jobids='auto.jobids' pr='auto.pr' mun='auto.mun' provinceid='auto.provinceid' cityid='auto.cityid' ltype='auto.ltype' three_cityid='auto.three_cityid'
                type='auto.type' edu='auto.edu' exp='auto.exp' sex='auto.sex' salary='auto.salary' keyword='auto.keyword' key=key sdate='auto.sdate' cert='auto.cert'
                urgent='auto.urgent'  uptime='auto.uptime' order='auto.order' limit=6 item=job_list name=joblist1{/yun}
                <tr class="tr2">
                    <td class="td1">
                        <p>{yun:}$job_list.name_n{/yun}<em class="e1">{yun:}$job_list.city_name.name{/yun}  |  {yun:}$job_list.job_type{/yun}</em><em class="e2">{yun:}$job_list.str_salary{/yun}</em><br /><em class="e3">{yun:}$job_list.com_n{/yun}</em></p>
                    </td>
                    <td class="td2">61%</td>
                    <td class="td3">{yun:}$job_list.lastupdate{/yun}</td>
                </tr>
                {yun:}/joblist{/yun}

            </table>
            <div class="an"><input type="button" class="button" /></div>
        </div>
    </div>
    <div class="r right_all">
        <div class="bfb">
            <script type="text/javascript" src="{yun:}$config.sy_weburl{/yun}/resource/js/jquery.circliful.min.js"></script>
            <script type="text/javascript">
                $( document ).ready(function() {
                    $('#myStat2').circliful();
                });
            </script>
            <div id="myStat2" data-dimension="89" data-text="30%" data-info="New Clients" data-width="10" data-fontsize="20" data-percent="35" data-fgcolor="#fe960f" data-bgcolor="#efefef"></div>
        </div>
        <ul class="blj">
            <li><a href="#">编辑简历</a></li>
            <li><a class="a2" href="#">预览简历</a></li>
            <div class="clear"></div>
        </ul>
        <ul class="f_nav">
            <li>
                <a href="#">
                    <div class="pic">
                        <img class="img1" src="{yun:}$config.sy_weburl{/yun}/resource/images/pic74.png" />
                        <img class="img2" src="{yun:}$config.sy_weburl{/yun}/resource/images/pic74_2.png" />
                    </div>
                    <p>投递箱</p>
                </a>
                <div class="num">2</div>
            </li>
            <li>
                <a href="#">
                    <div class="pic">
                        <img class="img1" src="{yun:}$config.sy_weburl{/yun}/resource/images/pic75.png" />
                        <img class="img2" src="{yun:}$config.sy_weburl{/yun}/resource/images/pic75_2.png" />
                    </div>
                    <p>投递箱</p>
                </a>
            </li>
            <li class="hover">
                <a href="#">
                    <div class="pic">
                        <img class="img1" src="{yun:}$config.sy_weburl{/yun}/resource/images/pic76.png" />
                        <img class="img2" src="{yun:}$config.sy_weburl{/yun}/resource/images/pic76_2.png" />
                    </div>
                    <p>投递箱</p>
                </a>
            </li>
            <li class="last">
                <a href="#">
                    <div class="pic">
                        <img class="img1" src="{yun:}$config.sy_weburl{/yun}/resource/images/pic77.png" />
                        <img class="img2" src="{yun:}$config.sy_weburl{/yun}/resource/images/pic77_2.png" />
                    </div>
                    <p>投递箱</p>
                </a>
            </li>
            <div class="clear"></div>
        </ul>
        <ul class="box2">
            <li><a class="a1" href="#">增值中心</a></li>
            <li><a class="a2" href="#">增值中心</a></li>
            <li><a class="a3" href="#">增值中心</a></li>
            <li><a class="a4" href="#">增值中心</a></li>
            <li><a class="a5" href="#">增值中心</a></li>
        </ul>
        <div class="j_wechat">
            <div class="pic"><img src="{yun:}$config.sy_weburl{/yun}/resource/images/pic81.jpg" /></div>
            <p>扫一扫，立即下载药师多APP求职信息随时掌握</p>
        </div>
    </div>
    <div class="clear"></div>
</div>
</body>
</html>
