{yun:}include file="./newheader.htm"{/yun}
<script language=javascript>
    function CheckPost(){
        var name=$.trim($("input[name='name']").val());
        var living=$.trim($("input[name='living']").val());
        var email=$.trim($("input[name='email']").val());
        var idcard=$.trim($("input[name='idcard']").val());
        var telphone=$.trim($("input[name='telphone']").val());
        var sex=$.trim($("input[name='sex']").val());
        var educid=$.trim($("#educid").val());
        var expid=$.trim($("#expid").val());
        var description=$.trim($("#description").val());
//        var birthday = $.trim($('#birthday').val());
//        ifemail = check_email(email);
//        telphone = isjsMobile(telphone);
        if(name==""){layer.msg($("#by_name").html(), 2, 8);return false;}
        if(sex==''){layer.msg('请选择性别', 2, 8);return false; }
//        if(birthday==''){layer.msg('请选择出生日期', 2, 8);return false; }
        if(educid==""){layer.msg($("#by_educid").html(), 2, 8);return false;}
        if(expid==""){layer.msg($("#by_expid").html(), 2, 8);return false;}
//        if(telphone==false){layer.msg($("#by_telphone").html(), 2, 8);return false;}
//        if(ifemail==false){layer.msg($("#by_email").html(), 2, 8);return false;}
        if(living==""){layer.msg($("#by_living").html(), 2, 8);return false;}

        layer.load('执行中，请稍候...',0);
    }

</script>
<div class="jbxx">
<dl class="m_wrap ">
    <form name="MyForm" method="post" action=""  onsubmit="return CheckPost();">
    <dt>
    <div class="icons" style="background:url({yun:}$config.sy_weburl{/yun}/resource/images/ysd_40.jpg) no-repeat;"></div>
    <h1>基本信息</h1>
    <div class="ico"></div>
    </dt>
    <dd>
        <ul class="xbox">
            <li><input type="text" class="text l" name="name" value="{yun:}$row.name{/yun}" placeholder="姓名">
                <span id="by_name" class="errordisplay" style="display: none">姓名不能为空</span>
                <div class='diy_select r' id="select0">
                    <input type='hidden' name='sex' value="{yun:}$row.sex{/yun}" class='diy_select_input'/>
                    <div class='diy_select_txt'>
                        {yun:}foreach from=$userdata.user_sex item=v key=key{/yun}
                        {yun:}if $row.sex==$v{/yun} {yun:}$userclass_name[$v]{/yun} {yun:}elseif $row.sex=="" && $key==0 {/yun}性别{yun:}/if{/yun}
                        {yun:}/foreach{/yun}
                    </div>
                    <div class='diy_select_btn'></div>
                    <ul class='diy_select_list'>
                        {yun:}foreach from=$userdata.user_sex item=v key=key{/yun}
                        <li data-id="{yun:}$v{/yun}">{yun:}$userclass_name[$v]{/yun}</li>
                        {yun:}/foreach{/yun}

                    </ul>
                </div>
            </li>
            <li>
                <div class='diy_select l' id="select0">
                    <input type='hidden' name='universty' value="{yun:}$row.universty{/yun}" class='diy_select_input'/>
                    <div class='diy_select_txt'>
                        {yun:}if $row.universty=='' {/yun} 毕业学院 {yun:}else{/yun}{yun:}$userclass_name[$row.universty]{/yun}{yun:}/if{/yun}
                    </div>
                    <div class='diy_select_btn'></div>
                    <ul class='diy_select_list'>
                        {yun:}foreach from=$userdata.user_universty key=j item=v{/yun}
                        <li data-id="{yun:}$v{/yun}">{yun:}$userclass_name[$v]{/yun}</li>
                        {yun:}/foreach{/yun}

                    </ul>
                </div>
                <div class='diy_select r' id="select0">
                    <input type="hidden" class="diy_select_input" id="educid" name="edu" {yun:}if $row.edu{/yun} value="{yun:}$row.edu{/yun}" {yun:}/if{/yun} />
                    <div class='diy_select_txt'>
                        {yun:}if $row.edu=='' {/yun} 最高学历 {yun:}else{/yun}{yun:}$userclass_name[$row.edu]{/yun}{yun:}/if{/yun}
                    </div>
                    <span id="by_educid" style="display: none" class="errordisplay">请选择教育程度</span>
                    <div class='diy_select_btn'></div>
                    <ul class='diy_select_list'>
                        {yun:}foreach from=$userdata.user_edu key=j item=v{/yun}
                        <li data-id="{yun:}$v{/yun}">{yun:}$userclass_name[$v]{/yun}</li>
                        {yun:}/foreach{/yun}

                    </ul>
                </div>
            </li>
            <li>
                <div class='diy_select l' id="select0">
                    <input type='hidden' name='project' value="{yun:}$row.project{/yun}" class='diy_select_input'/>
                    <div class='diy_select_txt'>
                        {yun:}if $row.project=='' {/yun} 专业 {yun:}else{/yun}{yun:}$userclass_name[$row.project]{/yun}{yun:}/if{/yun}
                    </div>
                    <div class='diy_select_btn'></div>
                    <ul class='diy_select_list'>
                        {yun:}foreach from=$userdata.user_project key=j item=v{/yun}
                        <li data-id="{yun:}$v{/yun}">{yun:}$userclass_name[$v]{/yun}</li>
                        {yun:}/foreach{/yun}

                    </ul>

                </div>
                <div class='diy_select r' id="select0">
                    <input type='hidden' name='level' value="{yun:}$row.level{/yun}" class='diy_select_input'/>
                    <div class='diy_select_txt'>
                        {yun:}if $row.level =='' {/yun} 职称 {yun:}else{/yun}{yun:}$userclass_name[$row.level]{/yun}{yun:}/if{/yun}
                    </div>
                    <div class='diy_select_btn'></div>
                    <ul class='diy_select_list'>
                        {yun:}foreach from=$userdata.user_level key=j item=v{/yun}
                        <li data-id="{yun:}$v{/yun}">{yun:}$userclass_name[$v]{/yun}</li>
                        {yun:}/foreach{/yun}

                    </ul>
                </div>
            </li>
            <li>
                <input type="text" class="text l" name="living" value="{yun:}$row.living{/yun}" placeholder="现居住地">
               <span id="by_living" class="errordisplay" style="display: none">请填写现居住地</span>
            </li>
            <li>
                <div class='diy_select l' id="select0">
                    <input type='hidden' id="expid" name='exp' value="{yun:}$row.exp{/yun}" class='diy_select_input'/>
                    <div class='diy_select_txt'>
                        {yun:}if $row.exp=='' {/yun}请选择工作经验{yun:}else{/yun}{yun:}$userclass_name[$row.exp]{/yun} {yun:}/if{/yun}
                    </div>
                    <span id="by_expid" class="errordisplay" style="display: none;">请选择工作经验</span>
                    <div class='diy_select_btn'></div>
                    <ul class='diy_select_list'>
                        {yun:}foreach from=$userdata.user_word key=j item=v{/yun}
                        <li data-id="{yun:}$v{/yun}">{yun:}$userclass_name[$v]{/yun}</li>
                        {yun:}/foreach{/yun}
                    </ul>
                </div>
                <div class='diy_select l' id="select0">
                    <input type='hidden' name='type' value="{yun:}$row.type{/yun}" class='diy_select_input'/>
                    <div class='diy_select_txt'>
                        {yun:}if $row.type=='' {/yun}目前工作状态{yun:}else{/yun}{yun:}$userclass_name[$row.type]{/yun} {yun:}/if{/yun}
                    </div>
                    <div class='diy_select_btn'></div>
                    <ul class='diy_select_list'>
                        {yun:}foreach from=$userdata.user_type key=j item=v{/yun}
                        <li data-id="{yun:}$v{/yun}">{yun:}$userclass_name[$v]{/yun}</li>
                        {yun:}/foreach{/yun}
                    </ul>


                </div>

            </li>
            <li>
                <input type="hidden" name="submitBtn1" value="fuck">
                <input type="text" name="telphone" class="text l" value="{yun:}$row.telphone{/yun}" onkeyup="this.value=this.value.replace(/[^0-9.]/g,'')" placeholder="联系电话">
                <input type="text" name="email" class="text r" value="{yun:}$row.email{/yun}" placeholder="联系邮箱">
            </li>
            <li><input type="text" name="description" class="text1" value="{yun:}$row.description{/yun}" placeholder="一句话介绍自己"></li>
            <li><input type="submit" class="submit" value=""></li>
        </ul>
        <script type="text/javascript" src="{yun:}$config.sy_weburl{/yun}/resource/js/select.js"></script>
        <a href="{yun:}$config.sy_weburl{/yun}/member"><input type="text" name="submitBtn" value="" class="m_btn" /></a>
        <!--<a href="#" class="m_btn"></a>-->
    </form>
    </dd>
</dl>
<div class="m_line"></div>
</div>
</div>
</div>
</div>
<div id="footer">
    <div class="footer">
        <ul class="f_box">
            <li>
                <div class="p1">全国统一服务热线：</div>
                <div class="p2">400-067-3800</div>
                <div class="p3">工作日：9：00 ~ 18：00</div>
            </li>
            <li style="margin-right:0;">
                <div class="p4"><a href="#">关于我们</a><a href="#">常见问题</a><a href="#">网站地图</a><a href="#">联系我们</a><a href="#">企业入驻</a><a href="#">意见反馈</a></div>
                <div class="p5">Copyright 2015 广州国健医药咨询服务有限公司<br>
                    版权所有   粤ICP备11016031号-4</div>
            </li>
            <li class="last">
                <div class="p6"><a href="#"><p>新浪微博</p><img src="{yun:}$config.sy_weburl{/yun}/resource/images/ysd_7.jpg"></a></div>
                <div class="p6"><a href="#"><p>微信</p><img src="{yun:}$config.sy_weburl{/yun}/resource/images/ysd_8.jpg"></a></div>
                <div class="clear"></div>
            </li>
            <div class="clear"></div>
        </ul>
    </div>
</div>
<script src="{yun:}$config.sy_weburl{/yun}/js/member_public.js"></script>
</body>
</html>
