{yun:}include file="./newheader.htm"{/yun}

<div class="jbxx">
<dl class="m_wrap ">
    <dt>
    <div class="icons" style="background:url({yun:}$config.sy_weburl{/yun}/resource/images/ysd_40.jpg) no-repeat;"></div>
    <h1>基本信息</h1>
    <div class="ico"></div>
    </dt>
    <dd>
        <ul class="xbox">
            <li><input type="text" class="text l" name="name" value="{yun:}$row.name{/yun}" placeholder="姓名">
                <div class='diy_select r' id="select0">
                    <input type='hidden' name='sex' value="{yun:}$row.sex{/yun}" class='diy_select_input'/>
                    <div class='diy_select_txt'>
                        {yun:}foreach from=$userdata.user_sex item=v key=key{/yun}
                        {yun:}if $row.sex==$v{/yun} {yun:}$userclass_name[$v]{/yun} {yun:}elseif $row.sex=="" && $key==0 {/yun}性别{yun:}/if{/yun}
                        {yun:}/foreach{/yun}
                    </div>
                    <div class='diy_select_btn'></div>
                    <ul class='diy_select_list'>
                        {yun:}foreach from=$userdata.user_sex item=v key=key{/yun}
                        <li data-id="{yun:}$v{/yun}">{yun:}$userclass_name[$v]{/yun}</li>
                        {yun:}/foreach{/yun}

                    </ul>
                </div>
            </li>
            <li>
                <div class='diy_select l' id="select0">
                    <input type='hidden' name='' class='diy_select_input'/>
                    <div class='diy_select_txt'>毕业院校</div>
                    <div class='diy_select_btn'></div>
                    <ul class='diy_select_list'>
                        <li>毕业院校1</li>
                        <li>毕业院校2</li>
                    </ul>
                </div>
                <div class='diy_select r' id="select0">
                    <input type='hidden' name='edu' value="{yun:}$row.edu{/yun}" class='diy_select_input'/>
                    <div class='diy_select_txt'>
                        {yun:}if $row.edu=='' {/yun} 最高学历 {yun:}else{/yun}{yun:}$userclass_name[$row.edu]{/yun}{yun:}/if{/yun}
                    </div>
                    <div class='diy_select_btn'></div>
                    <ul class='diy_select_list'>
                        {yun:}foreach from=$userdata.user_edu key=j item=v{/yun}
                        <li data-id="{yun:}$v{/yun}">{yun:}$userclass_name[$v]{/yun}</li>
                        {yun:}/foreach{/yun}

                    </ul>
                </div>
            </li>
            <li>
                <div class='diy_select l' id="select0">
                    <input type='hidden' name='' class='diy_select_input'/>
                    <div class='diy_select_txt'>专业</div>
                    <div class='diy_select_btn'></div>
                    <ul class='diy_select_list'>
                        <li>专业</li>
                        <li>专业</li>
                    </ul>
                </div>
                <div class='diy_select r' id="select0">
                    <input type='hidden' name='' class='diy_select_input'/>
                    <div class='diy_select_txt'>职称</div>
                    <div class='diy_select_btn'></div>
                    <ul class='diy_select_list'>
                        <li>职称</li>
                        <li>职称</li>
                    </ul>
                </div>
            </li>
            <li>
                <div class='diy_select l' id="select1">
                    <input type='hidden' name='' class='diy_select_input'/>
                    <div class='diy_select_txt'>目前工作状态：</div>
                    <div class='diy_select_btn'></div>
                    <ul class='diy_select_list'>
                        <li>目前工作状态：</li>
                        <li>目前工作状态：</li>
                    </ul>
                </div>
            </li>
            <li>
                <div class='diy_select l' id="select0">
                    <input type='hidden' name='edu' value="{yun:}$row.exp{/yun}" class='diy_select_input'/>
                    <div class='diy_select_txt'>
                        {yun:}if $row.exp=='' {/yun}请选择工作经验{yun:}else{/yun}{yun:}$userclass_name[$row.exp]{/yun} {yun:}/if{/yun}
                    </div>
                    <div class='diy_select_btn'></div>
                    <ul class='diy_select_list'>
                        {yun:}foreach from=$userdata.user_word key=j item=v{/yun}
                        <li data-id="{yun:}$v{/yun}">{yun:}$userclass_name[$v]{/yun}</li>
                        {yun:}/foreach{/yun}
                    </ul>
                </div>
                <div class='diy_select r' id="select2">
                    <input type='hidden' name='' class='diy_select_input'/>
                    <div class='diy_select_txt'>所在地区</div>
                    <div class='diy_select_btn' ></div>
                    <ul class='diy_select_list' id="city_name">

                    </ul>
                </div>
                <div class='diy_select r' id="select2">
                    <input type='hidden' name='' class='diy_select_input'/>
                    <div class='diy_select_txt'>所在地区</div>
                    <div class='diy_select_btn'></div>
                    <ul class='diy_select_list'>
                        {yun:}foreach from=$city_index key=j item=v{/yun}
                        <li myselect="{yun:}$v{/yun}" onclick="alert('sdfsf')"> {yun:}$city_name[$v]{/yun} </li>
                        {yun:}/foreach{/yun}
                    </ul>
                </div>
            </li>
            <li>
                <input type="text" name="telphone" class="text l" value="{yun:}$row.telphone{/yun}" onkeyup="this.value=this.value.replace(/[^0-9.]/g,'')" placeholder="联系电话">
                <input type="text" name="email" class="text r" value="{yun:}$row.email{/yun}" placeholder="联系邮箱">
            </li>
            <li><input type="text" class="text1" value="{yun:}$row.description{/yun}" placeholder="一句话介绍自己"></li>
            <li><input type="submit" class="submit" value=""></li>
        </ul>
        <script type="text/javascript" src="{yun:}$config.sy_weburl{/yun}/resource/js/select.js"></script>
        <a href="#" class="m_btn"></a>
    </dd>
</dl>
<div class="m_line"></div>
</div>
</div>
</div>
</div>
<div id="footer">
    <div class="footer">
        <ul class="f_box">
            <li>
                <div class="p1">全国统一服务热线：</div>
                <div class="p2">400-067-3800</div>
                <div class="p3">工作日：9：00 ~ 18：00</div>
            </li>
            <li style="margin-right:0;">
                <div class="p4"><a href="#">关于我们</a><a href="#">常见问题</a><a href="#">网站地图</a><a href="#">联系我们</a><a href="#">企业入驻</a><a href="#">意见反馈</a></div>
                <div class="p5">Copyright 2015 广州国健医药咨询服务有限公司<br>
                    版权所有   粤ICP备11016031号-4</div>
            </li>
            <li class="last">
                <div class="p6"><a href="#"><p>新浪微博</p><img src="{yun:}$config.sy_weburl{/yun}/resource/images/ysd_7.jpg"></a></div>
                <div class="p6"><a href="#"><p>微信</p><img src="{yun:}$config.sy_weburl{/yun}/resource/images/ysd_8.jpg"></a></div>
                <div class="clear"></div>
            </li>
            <div class="clear"></div>
        </ul>
    </div>
</div>
<script src="{yun:}$config.sy_weburl{/yun}/js/member_public.js"></script>
</body>
</html>
