{yun:}include file="./newheader.htm"{/yun}

<div class="tdx w1000">
    <div class="l left">
        <div class="t_pic">
            <img src="{yun:}$config.sy_weburl{/yun}/resource/images/pic116.jpg" />
            <input type="button" class="button" />
        </div>
        <div class="j_tab">
            <ul class="hd">
                <li class="on">
                    <a href="#">
                        <div class="tb">
                            <img class="img1" src="{yun:}$config.sy_weburl{/yun}/resource/images/pic130.png" />
                            <img class="img2" src="{yun:}$config.sy_weburl{/yun}/resource/images/pic130_2.png" />
                        </div>
                        <p>投递记录</p>
                    </a>
                </li>
                <div class="clear"></div>
            </ul>
            <div class="huan">
                <div class="fl">
                    <ul id="tab_hd">
                        <li class="on"><a href="{yun:}$config.sy_weburl{/yun}/member/index.php?c=job">全部</a></li>
                        <!--<li>投递成功</li>-->
                        <li> <a href="{yun:}$config.sy_weburl{/yun}/member/index.php?c=job&is_browse=2">被查看</a></li>
                        <li> <a href="{yun:}$config.sy_weburl{/yun}/member/index.php?c=job&is_browse=8">通知面试</a></li>
                        <li> <a href="{yun:}$config.sy_weburl{/yun}/member/index.php?c=job&is_browse=4">不合适</a></li>
                        <div class="clear"></div>
                    </ul>
                </div>
                <div id="sideMenu">
                    <div id="tab_bd">
                        <div class="li" style="display: block;">
                            {yun:}foreach item=job from=$rows{/yun}
                            <div class="box">
                                <div class="list">
                                    <span class="l s1">{yun:}$job.job_name{/yun}<em class="e1">{yun:}$city_name[$job.cityid]{/yun}  |  {yun:}$job.type{/yun}</em><em class="e2">{yun:}$job.money{/yun}</em><br /><em class="e3">{yun:}$job.com_name{/yun}</em></span>
                                    <span class="r s2">{yun:}$job.datetime|date_format:"%Y-%m-%d %H:%M"{/yun}<br /><em class="look"><div class="r sjx"></div>{yun:}$StateList[$job.is_browse]{/yun}</em></span>
                                    <div class="clear"></div>
                                </div>
                                <div class="laxia">
                                    <ul>


                                        <li class="hover">投递成功</li>
                                        {yun:}if $job.is_browse>1{/yun}
                                        <li class="hover">简历被查看</li>
                                        {yun:}else{/yun}
                                        <li>简历被查看</li>
                                        {yun:}/if{/yun}
                                        {yun:}if $job.usermes==1{/yun}
                                        <li class="hover">待沟通</li>
                                        {yun:}else{/yun}
                                        <li>待沟通</li>
                                        {yun:}/if{/yun}

                                        <li class="last">通知面试</li>
                                        <div class="clear"></div>
                                    </ul>
                                    <div class="lc">
                                        {yun:}if $job.usermes == 1 && $job.is_browse < 3{/yun}
                                        <div class="part">
                                            <p class="p1">{yun:}$job.user_mes.datetime|date_format:"%Y-%m-%d %H:%M"{/yun}</p>
                                            <p class="p2">{yun:}$job.com_name{/yun}给你发来面试通知</p>
                                            <p class="p3">
                                                面试时间：{yun:}$job.user_mes.intertime{/yun}<br />
                                                联系人   ：{yun:}$job.user_mes.linkman{/yun} <br />
                                                联系电话：{yun:}$job.user_mes.linktel{/yun}<br />
                                                面试地点：<em>{yun:}$job.user_mes.address{/yun}</em>
                                            </p>
                                        </div>
                                        {yun:}/if{/yun}
                                        {yun:}if $job.is_browse==2{/yun}
                                        <div class="part part2">
                                            <!--<p class="p1">2015-07-06 11:13</p>-->
                                            <p class="p2">{yun:}$job.user_mes.linkman{/yun}查看了你的简历</p>
                                        </div>
                                        {yun:}/if{/yun}
                                        {yun:}if $job.is_browse ==4 {/yun}
                                        <div class="part part2">
                                            <!--<p class="p1">{yun:}$job.datetime|date_format:"%Y-%m-%d %H:%M"{/yun}</p>-->
                                            <p class="p2">条件不符合</p>
                                        </div>
                                        {yun:}/if{/yun}

                                        {yun:}if $job.is_browse >=1 {/yun}
                                        <div class="part part2 part3">
                                            <p class="p1">{yun:}$job.datetime|date_format:"%Y-%m-%d %H:%M"{/yun}</p>
                                            <p class="p2">投递简历成功</p>
                                        </div>
                                        {yun:}/if{/yun}

                                        <div class="r shouqi"><img src="{yun:}$config.sy_weburl{/yun}/resource/images/pic136.jpg" /></div>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                            </div>
                            {yun:}foreachelse{/yun}
                            <div class="msg_no">你还没有申请职位哦！<a href="{yun:}url m=job{/yun}" class="msg_no_sq">马上去找工作</a></div>
                            {yun:}/foreach{/yun}

                        </div>

                    </div>
                </div>
                <script>
                    $('#sideMenu').on('click','.look',function(e){
                        e.preventDefault();
                        var _this = $(this);
                        if(_this.parents('.box').hasClass('open')){
                            _this.children('.sjx').removeClass('zhuan');
                            _this.parents('.box').removeClass('open').children('.laxia').hide();
                        }else{
                            $('#sideMenu .box').removeClass('open');
                            $('#sideMenu .box').find('.look').children('.sjx').removeClass('zhuan');
                            $('#sideMenu .box .laxia').hide();
                            _this.children('.sjx').addClass('zhuan');
                            _this.parents('.box').addClass('open').children('.laxia').show();
                        }
                    });
                    $('#sideMenu').on('click','.shouqi',function(e){
                        e.preventDefault();
                        var _this = $(this);
                        _this.parents('.box').find('.look').children('.sjx').removeClass('zhuan');
                        _this.parents('.box').removeClass('open').children('.laxia').hide();
                    });
                </script>
            </div>
        </div>
    </div>
{yun:}include file="./newright.htm"{/yun}
</div>
</body>
</html>
