{yun:}include file="./newheader.htm"{/yun}

<div class="yqh w1000">
    <div class="l left">
        <div class="j_tab">
            <ul class="hd">
                <li class="on">
                    <a href="#">
                        <div class="tb">
                            <img class="img1" src="{yun:}$config.sy_weburl{/yun}/resource/images/pic121.png" />
                            <img class="img2" src="{yun:}$config.sy_weburl{/yun}/resource/images/pic121_2.png" />
                        </div>
                        <p>邀请函</p>
                    </a>
                    <div class="num">{yun:}$yaoqingnum{/yun}</div>
                </li>
                <div class="clear"></div>
            </ul>
            <div class="huan">
                <a style="display: none" id="agree" href="javascript:void(0);" onclick="layer_del('确定要同意面试邀请？', 'index.php?c=msg&act=inviteset&id={yun:}$log.id{/yun}&browse=3')" class="cblue">同意面试</a>
                <table>
                    <tr class="tr1">
                        <td class="td1" width="360">邀请的职位</td>
                        <td class="td2" width="203">邀约时间</td>
                        <td class="td3" width="150">状态</td>
                    </tr>
                    {yun:}if !empty($rows){/yun}
                    {yun:}foreach item=log from=$myrows{/yun}
                    <tr class="tr2">
                        <td class="td1"><p>{yun:}$log.jobname{/yun}<em class="e1">{yun:}$log.type{/yun}  |  {yun:}$city_name[$log.cityid]{/yun}   |</em><em class="e2">{yun:}$log.money{/yun}</em><br /><em class="e3">{yun:}$log.fname{/yun}</em></p></td>
                        <td class="td2">{yun:}$log.datetime|date_format:'%Y-%m-%d %H:%M'{/yun}</td>
                        <td>
                            {yun:}if $log.is_browse <3 {/yun}
                            <input onclick="layer_del('确定要同意面试邀请？', 'index.php?c=msg&act=inviteset&id={yun:}$log.id{/yun}&browse=3')" type="button" class="button" value="接受" />
                            <input onclick="layer_del('确定要拒绝面试邀请？', 'index.php?c=msg&act=inviteset&id={yun:}$log.id{/yun}&browse=4')" type="button" class="button b2" value="拒绝" />
                            {yun:}else{/yun}
                            {yun:}if $log.is_browse == 3{/yun}
                            agree
                            {yun:}/if{/yun}
                            {yun:}if $log.is_browse == 4{/yun}
                            refuse
                            {yun:}/if{/yun}
                            {yun:}/if{/yun}
                        </td>
                    </tr>
                    {yun:}/foreach{/yun}
                    {yun:}else{/yun}
                    <div class="msg_no">您还没有邀请信息。</div>
                    {yun:}/if{/yun}
                </table>
                <div class="j_page j_page2">
                    <div class="page1">
                    {yun:}$pagenav{/yun}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {yun:}include file = "./newright.htm"{/yun}
</div>
</body>
</html>
