<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=GBK" />
    <title>药师多--人才中心首页</title>
    <link href="{yun:}$config.sy_weburl{/yun}/resource/css/style.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="{yun:}$config.sy_weburl{/yun}/resource/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="{yun:}$config.sy_weburl{/yun}/resource/js/js.js"></script>
</head>

<body class="j_body">
<div class="j_header">
    <div class="w1000">
        <div class="l"><a href="#"><img src="{yun:}$config.sy_weburl{/yun}/resource/images/ysd_150.png" /></a></div>
        <ul class="l menu">
            <li><a href="#">招聘中心</a></li>
            <li><a href="#">发布职位</a></li>
            <li><a href="#">简历管理</a></li>
            <li><a href="#">企业信息</a></li>
            <li><a href="#">招人才</a></li>
            <div class="clear"></div>
        </ul>
        <dl class="r select">
            <dt>{yun:}$username{/yun}</dt>
            <dd>
                <ul>
                    <li><a href="{yun:}$config.sy_weburl{/yun}/member/index.php?c=expect&e=1">我的简历</a></li>
                    <li><a href="{yun:}$config.sy_weburl{/yun}/member/index.php?c=info">个人资料</a></li>
                    <li><a href="#">我的订阅</a></li>
                    <li><a href="#">投递箱</a></li>
                    <li><a href="#">退出</a></li>
                </ul>
            </dd>
        </dl>
        <div class="clear"></div>
    </div>
</div>