

<div class="r right_all">
    <div class="bfb">
        <script type="text/javascript" src="{yun:}$config.sy_weburl{/yun}/resource/js/jquery.circliful.min.js"></script>
        <script type="text/javascript">
            $( document ).ready(function() {
                $('#myStat2').circliful();
            });
        </script>
        <div id="myStat2" data-dimension="89" data-text="30%" data-info="New Clients" data-width="10" data-fontsize="20" data-percent="35" data-fgcolor="#fe960f" data-bgcolor="#efefef"></div>
    </div>
    <ul class="blj">
        {yun:}if empty($resumeid){/yun}
        <li><a href="{yun:}$config.sy_weburl{/yun}/member/index.php?c=expect&add=2">编辑简历</a></li>
        {yun:}else{/yun}
        <li><a href="{yun:}$config.sy_weburl{/yun}/member/index.php?c=expect&e={yun:}$resumeid{/yun}">编辑简历</a></li>
        {yun:}/if{/yun}
        <li><a class="a2" href="{yun:}$config.sy_weburl{/yun}/member/index.php?c=info">基本信息</a></li>
        <div class="clear"></div>
    </ul>
    <ul class="f_nav">
        <li>
            <a href="{yun:}$config.sy_weburl{/yun}/member/index.php?c=job">
                <div class="pic">
                    <img class="img1" src="{yun:}$config.sy_weburl{/yun}/resource/images/pic74.png" />
                    <img class="img2" src="{yun:}$config.sy_weburl{/yun}/resource/images/pic74_2.png" />
                </div>
                <p>投递箱</p>
            </a>
            <div class="num">2</div>
        </li>
        <li>
            <a href="{yun:}$config.sy_weburl{/yun}/member/index.php?c=favorite">
                <div class="pic">
                    <img class="img1" src="{yun:}$config.sy_weburl{/yun}/resource/images/pic75.png" />
                    <img class="img2" src="{yun:}$config.sy_weburl{/yun}/resource/images/pic75_2.png" />
                </div>
                <p>收藏夹</p>
            </a>
        </li>
        <li class="hover">
            <a href="#">
                <div class="pic">
                    <img class="img1" src="{yun:}$config.sy_weburl{/yun}/resource/images/pic76.png" />
                    <img class="img2" src="{yun:}$config.sy_weburl{/yun}/resource/images/pic76_2.png" />
                </div>
                <p>订阅栏</p>
            </a>
        </li>
        <li class="last">
            <a href="{yun:}$config.sy_weburl{/yun}/member/index.php?c=msg">
                <div class="pic">
                    <img class="img1" src="{yun:}$config.sy_weburl{/yun}/resource/images/pic77.png" />
                    <img class="img2" src="{yun:}$config.sy_weburl{/yun}/resource/images/pic77_2.png" />
                </div>
                <p>邀请函</p>
            </a>
        </li>
        <div class="clear"></div>
    </ul>
    <ul class="box2">
        <li><a class="a2" href="{yun:}$config.sy_weburl{/yun}/member/index.php?c=xin">我的消息</a></li>
        <li><a class="a3" href="#">我的多币</a></li>
        <li><a class="a4" href="{yun:}$config.sy_weburl{/yun}/member/index.php?c=privacy">账号设置</a></li>
        <li><a class="a5" href="#">推荐有礼</a></li>
    </ul>
    <div class="j_wechat">
        <div class="pic"><img src="{yun:}$config.sy_weburl{/yun}/resource/images/pic81.jpg" /></div>
        <p>扫一扫，立即下载药师多APP求职信息随时掌握</p>
    </div>
</div>
<div class="clear"></div>
</div>