{yun:}include file="./newheader.htm"{/yun}
<script>
    function changesta(status, type) {
        $.post("index.php?c=privacy", { status: status, type: type }, function (data) {
            layer.msg('设置成功', 2, 9);
        });
    }
</script>
<div class="w1000 jlgksz">
    <div class="l left">
        <div class="j_tab">
            <ul class="hd" id="tab_hd">
                <li>
                    <div class="tb">
                        <img class="img1" src="{yun:}$config.sy_weburl{/yun}/resource/images/pic97.png" />
                        <img class="img2" src="{yun:}$config.sy_weburl{/yun}/resource/images/pic97_2.png" />
                    </div>
                    <a href="{yun:}$config.sy_weburl{/yun}/member/index.php?c=binding"><p>账号绑定</p></a>
                </li>
                <li>
                    <div class="tb">
                        <img class="img1" src="{yun:}$config.sy_weburl{/yun}/resource/images/pic98.png" />
                        <img class="img2" src="{yun:}$config.sy_weburl{/yun}/resource/images/pic98_2.png" />
                    </div>
                    <p>修改密码</p>
                </li>
                <li class="on">
                    <div class="tb">
                        <img class="img1" src="{yun:}$config.sy_weburl{/yun}/resource/images/pic99.png" />
                        <img class="img2" src="{yun:}$config.sy_weburl{/yun}/resource/images/pic99_2.png" />
                    </div>
                    <a href="{yun:}$config.sy_weburl{/yun}/member/index.php?c=privacy"><p>简历公开设置</p></a>
                </li>
                <div class="clear"></div>
            </ul>
            <ul id="tab_bd">
                <li>
                    <div class="huan huan1">
                        <p class="tit">资料公开设置</p>
                        <p class="p1"><input type="radio" name="status" {yun:}if $resume.status==1{/yun}checked ="checked"{yun:}/if{/yun} onclick="changesta('1','status');" />完全公开</p>
                        <p class="p1"><input type="radio" name="status" {yun:}if $resume.status==2{/yun}checked ="checked"{yun:}/if{/yun} onclick="changesta('2','status');" />完全保密</p>
                        <p class="tit">联系方式公开设置</p>
                        <p class="p1"><input type="radio" name="info_status" {yun:}if $resume.info_status==1{/yun}checked ="checked"{yun:}/if{/yun} onclick="changesta('1','info_status');" />公开我的联系方式</p>
                        <p class="p1"><input type="radio" name="info_status" {yun:}if $resume.info_status==2{/yun}checked ="checked"{yun:}/if{/yun} onclick="changesta('2','info_status');" />不公开我的联系方式</p>
                    </div>
                </li>
                <li></li>
                <li></li>
            </ul>

        </div>
    </div>
    {yun:}include file="./newright.htm"{/yun}
</div>


</body>
</html>
