{yun:}include file="$tplstyle/newhead.htm"{/yun}
<!--个人信息-->
<div id="main" class="jbxx">
    <div style="background:url({yun:}$config.sy_weburl{/yun}/resource/images/ysd_36.jpg) top center no-repeat; height:892px;">
        <div class="main">
            <div style="background:url({yun:}$config.sy_weburl{/yun}/resource/images/ysd_37.png) no-repeat; width:200px; height:40px; line-height:40px; text-indent:15px; float:right; font-size:16px; color:#FFF;">柳艳冰...</div>
            <div class="clear"></div>
            <dl class="m_wrap">
                <dt>
                <div class="icons" style="background:url({yun:}$config.sy_weburl{/yun}/resource/images/ysd_40.jpg) no-repeat;"></div>
                <h1>基本信息</h1>
                <div class="ico"></div>
                </dt>
                <dd>
                    <ul class="box">
                        <li><input type="text" class="text l" placeholder="姓名">
                            <div class='diy_select r select0'>
                                <input type='hidden' name='' class='diy_select_input'/>
                                <div class='diy_select_txt'>性别</div>
                                <div class='diy_select_btn'></div>
                                <ul class='diy_select_list'>
                                    <li>性别</li>
                                    <li>性别</li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class='diy_select l select0'>
                                <input type='hidden' name='' class='diy_select_input'/>
                                <div class='diy_select_txt'>毕业院校</div>
                                <div class='diy_select_btn'></div>
                                <ul class='diy_select_list'>
                                    <li>毕业院校</li>
                                    <li>毕业院校</li>
                                </ul>
                            </div>
                            <div class='diy_select r select0'>
                                <input type='hidden' name='' class='diy_select_input'/>
                                <div class='diy_select_txt'>最高学历</div>
                                <div class='diy_select_btn'></div>
                                <ul class='diy_select_list'>
                                    <li>最高学历</li>
                                    <li>最高学历</li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class='diy_select l select0'>
                                <input type='hidden' name='' class='diy_select_input'/>
                                <div class='diy_select_txt'>专业</div>
                                <div class='diy_select_btn'></div>
                                <ul class='diy_select_list'>
                                    <li>专业</li>
                                    <li>专业</li>
                                </ul>
                            </div>
                            <div class='diy_select r select0'>
                                <input type='hidden' name='' class='diy_select_input'/>
                                <div class='diy_select_txt'>职称</div>
                                <div class='diy_select_btn'></div>
                                <ul class='diy_select_list'>
                                    <li>职称</li>
                                    <li>职称</li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class='diy_select l select1'>
                                <input type='hidden' name='' class='diy_select_input'/>
                                <div class='diy_select_txt'>目前工作状态：</div>
                                <div class='diy_select_btn'></div>
                                <ul class='diy_select_list'>
                                    <li>目前工作状态：</li>
                                    <li>目前工作状态：</li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class='diy_select l select0'>
                                <input type='hidden' name='' class='diy_select_input'/>
                                <div class='diy_select_txt'>工作年限</div>
                                <div class='diy_select_btn'></div>
                                <ul class='diy_select_list'>
                                    <li>工作年限</li>
                                    <li>工作年限</li>
                                </ul>
                            </div>
                            <div class='diy_select r select0'>
                                <input type='hidden' name='' class='diy_select_input'/>
                                <div class='diy_select_txt'>所在地区</div>
                                <div class='diy_select_btn'></div>
                                <ul class='diy_select_list'>
                                    <li>所在地区</li>
                                    <li>所在地区</li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <input type="text" class="text l" placeholder="联系电话">
                            <input type="text" class="text r" placeholder="联系邮箱">
                        </li>
                        <li><input type="text" class="text1" placeholder="一句话介绍自己"></li>
                        <li><input type="submit" class="submit" value=""></li>
                    </ul>

                    <a href="#" class="m_btn"></a>
                </dd>
            </dl>
            <div class="m_line"></div>
        </div>
    </div>
</div>
<script type="text/javascript" src="{yun:}$config.sy_weburl{/yun}/js/public.js" charset="gbk"></script>
<script type="text/javascript" src="{yun:}$config.sy_weburl{/yun}/resource/js/select.js" charset="gbk"></script>
{yun:}include file="$tplstyle/newfoot.htm"{/yun}



