{yun:}include file="$comstyle/cnewhead.htm"{/yun}
<script type="text/javascript">var weburl="{yun:}$config.sy_weburl{/yun}"</script>
<script src="{yun:}$config.sy_weburl{/yun}/js/class.public.js" type="text/javascript"></script>
<script type="text/javascript" src="{yun:}$config.sy_weburl{/yun}/js/member_public.js"></script>
<div class="qyzx_fbzl w1000">
    <div class="l left_all">
        <div class="j_top"><a href="index.php?c=jobadd">发布新职位+</a></div>
        <p class="p1"><a href="index.php?c=search">已发布的职位</a></p>
        <ul>
            <li><a href="index.php?c=job&w=1">在招职位</a></li>
            <li><a href="index.php?c=job&w=2">已下线职位</a></li>
        </ul>
        <p class="p1 p2"><a href="#">简历管理</a></p>
        <ul>
            <li><a href="index.php?c=hr">收到的简历</a></li>
            <li><a href="#">推荐的简历</a></li>
            <li><a href="index.php?c=down">下载的简历</a></li>
            <li><a href="index.php?c=talent_pool">简历收藏夹</a></li>
            <li><a href="index.php?c=invite">发出的面试邀请</a></li>
        </ul>
        <p class="p1 p2"><a href="#"><em></em>简历管理</a></p>
        <div class="j_bottom">
            <a href="#">发布企业分享</a>
            <a class="a2" href="#">人才订阅</a>
        </div>
    </div>
    <div class="r right">
        <p class="p1">职位基本信息</p>
        <form>
            <div class="list">
                <span>职位性质：</span>
                <ul class="zy zy_js">
                    <li class="qz on">
                        <i>全职</i>
                        <input type="hidden" class="zy_input" checked="checked"/>
                    </li>
                    <li class="jz">
                        <i>兼职</i>
                        <input type="hidden" class="zy_input" />
                    </li>
                    <li class="sx">
                        <i>实习</i>
                        <input type="hidden" class="zy_input"/>
                    </li>
                    <div class="clear"></div>
                </ul>
                <div class="clear"></div>
            </div>
            <div class="list">
                <span>职位类别：</span>
                <dl class="select l">
                    <dt class="dt2">请选择</dt>
                    <dd>
                        <ul>
                            {yun:}foreach item=v from=$job_class{/yun}
                            <li myselect="{yun:}$v.id{/yun}">{yun:}$v.name{/yun}</li>
                            {yun:}/foreach{/yun}
                        </ul>
                        <input type="hidden" class="select_hidden"/>
                    </dd>
                </dl>
                <div class="clear"></div>
            </div>
            <div class="list">
                <span>职位名称：</span>
                <input type="text" class="l text" placeholder="请选择" />
                <div class="clear"></div>
            </div>
            <div class="list">
                <span>薪水待遇：</span>
                <dl class="select l">
                    <dt class="dt2">请选择</dt>
                    <dd>
                        <ul>
                            {yun:}foreach from=$comdata.job_salary key=j item=v{/yun}
                            <li myselect="{yun:}$v{/yun}">{yun:}$comclass_name[$v]{/yun}</li>
                            {yun:}/foreach{/yun}
                        </ul>
                        <input type="hidden" class="select_hidden"/>
                    </dd>
                </dl>
                <div class="clear"></div>
            </div>
            <div class="list">
                <span>工作城市：</span>
                <dl class="select l" id="select0">
                    <dt class="dt2">请选择</dt>
                    <dd>
                        <ul>
                            {yun:}foreach from=$city_index key=j item=v{/yun}
                            <li myselect="1"><a href="javascript:;" onclick="select_city('{yun:}$v{/yun}','province','{yun:}$city_name[$v]{/yun}','citys','city');"> {yun:}$city_name[$v]{/yun}</a></li>
                            {yun:}/foreach{/yun}
                        </ul>
                        <input type="hidden" class="select_hidden"/>
                    </dd>
                </dl>
                <dl class="select l" id="select0">
                    <dt class="dt2">请选择</dt>
                    <dd>
                        <input type="hidden" class="select_hidden"/>
                    </dd>
                </dl>
                <div class="clear"></div>
            </div>
            <div class="list">
                <span>职位诱惑：</span>
                <input type="text" class="l text" placeholder="请选择" />
                <div class="clear"></div>
            </div>
            <div class="list">
                <span>发布人职务：</span>
                <input type="text" class="l text" placeholder="请选择" />
                <div class="clear"></div>
            </div>
        </form>
        <p class="p1">职位要求</p>
        <form>
            <div class="list">
                <span>职位详情：</span>
                <textarea class="ly" placeholder="职位性质职位性质职位性质职位性质" ></textarea>
                <div class="clear"></div>
            </div>
            <div class="list">
                <span>学历要求：</span>
                <dl class="select l">
                    <dt class="dt2">请选择</dt>
                    <dd>
                        <ul>
                            {yun:}foreach from=$comdata.job_edu key=j item=v{/yun}
                            <li><a href="javascript:;" onclick="selects('{yun:}$v{/yun}','edu','{yun:}$comclass_name[$v]{/yun}');">{yun:}$comclass_name[$v]{/yun}</a></li>
                            {yun:}/foreach{/yun}
                        </ul>
                        <input type="hidden" class="select_hidden"/>
                    </dd>
                </dl>
                <div class="clear"></div>
            </div>
            <div class="list">
                <span>工作经验：</span>
                <dl class="select l">
                    <dt class="dt2">请选择</dt>
                    <dd>
                        <ul>
                            {yun:}foreach from=$comdata.job_exp key=j item=v{/yun}
                            <li><a href="javascript:;" onclick="selects('{yun:}$v{/yun}','exp','{yun:}$comclass_name[$v]{/yun}');">{yun:}$comclass_name[$v]{/yun}</a></li>
                            {yun:}/foreach{/yun}
                        </ul>
                        <input type="hidden" class="select_hidden"/>
                    </dd>
                </dl>
                <div class="clear"></div>
            </div>
            <div class="list">
                <span>公司地点：</span>
                <input type="text" class="l text" placeholder="请选择" />
                <div class="clear"></div>
            </div>
            <div class="list">
                <span>接收简历邮箱：</span>
                <input type="text" class="l text" placeholder="请选择" />
                <div class="clear"></div>
            </div>
            <div class="list">
                <span>联系电话：</span>
                <input type="text" class="l text" placeholder="请选择" />
                <div class="clear"></div>
            </div>
            <div class="list">
                <span>职位有效期：</span>
                <ul class="time zy_js">
                    <li class="first on">
                        <i>两个月</i>
                        <input type="hidden" class="zy_input" checked="checked"/>
                    </li>
                    <li class="">
                        <i>一个月</i>
                        <input type="hidden" class="zy_input" />
                    </li>
                    <li class="">
                        <i>两周</i>
                        <input type="hidden" class="zy_input"/>
                    </li>
                    <li class="last">
                        <i>一周</i>
                        <input type="hidden" class="zy_input"/>
                    </li>
                    <div class="clear"></div>
                </ul>
                <div class="clear"></div>
            </div>
            <div class="an"><input type="button" class="button" value="提交" /></div>
        </form>
    </div>
    <div class="clear"></div>
</div>
<div class="j_side">
    <div class="relbox">
        <div class="abbox">
            <a class="wh wx rdh2" href="#"><div class="ewm">客户服务</div><img src="images/pic25.png" /></a>
            <a href="#" class="gwc"><span class="gwl">1</span></a>
            <a class="wh qq rdh" href="#"><img src="images/pic29.png" /></a>
            <a class="wh sc rdh" href="#"><img src="images/pic30.png" /></a>
            <a class="wh fx rdh" href="#"><img src="images/pic31.png" /></a>
            <div id="backToTop"><a class="wh fh rdh" href="javascript:;" onfocus="this.blur();"><img src="images/pic32.png" /></a></div>
        </div>
    </div>
</div>

{yun:}include file="$comstyle/cnewfoot.htm"{/yun}