<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=gbk"/>
    <title>无标题文档</title>
    <link href="{yun:}$config.sy_weburl{/yun}/resource/css/style.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="{yun:}$config.sy_weburl{/yun}/resource/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="{yun:}$config.sy_weburl{/yun}/resource/js/jquery.SuperSlide.2.1.js"></script>
    <script type="text/javascript" src="{yun:}$config.sy_weburl{/yun}/resource/js/js.js"></script>
</head>
<body class="j_body">
<div class="j_header">
    <div class="w1000">
        <div class="l"><a href="#"><img src="{yun:}$config.sy_weburl{/yun}/resource/images/pic02.png" /></a></div>
        <ul class="l menu">
            <li><a href="index.php?c=index">招聘中心</a></li>
            <li><a href="index.php?c=jobadd">发布职位</a></li>
            <li><a href="index.php?c=hr">简历管理</a></li>
            <li><a href="index.php?c=info">企业信息</a></li>
            <li><a href="index.php?c=job&w=1">招人才</a></li>
            <div class="clear"></div>
        </ul>
        <dl class="r select">
            <dt>互诺科技互诺科技互诺科技互诺科技</dt>
            <dd>
                <ul>
                    <li><a href="#">互诺科技1</a></li>
                    <li><a href="#">互诺科技2</a></li>
                    <li><a href="#">互诺科技3</a></li>
                </ul>
            </dd>
        </dl>
        <div class="clear"></div>
    </div>
</div>